<?xml version="1.0"?>
<config>
    <modules>
        <RonisBT_AdminForms>
            <version>0.8.9</version>
        </RonisBT_AdminForms>
    </modules>
    <global>
        <models>
            <adminforms>
                <class>RonisBT_AdminForms_Model</class>
                <resourceModel>adminforms_entity</resourceModel>
            </adminforms>
            <adminforms_entity>
                <class>RonisBT_AdminForms_Model_Entity</class>
                <entities>
                    <eav_attribute><table>adminforms_eav_attribute</table></eav_attribute>
                </entities>
            </adminforms_entity>
        </models>
        <blocks>
            <adminforms>
                <class>RonisBT_AdminForms_Block</class>
            </adminforms>
        </blocks>
        <helpers>
            <adminforms>
                <class>RonisBT_AdminForms_Helper</class>
            </adminforms>
        </helpers>
        <resources>
            <adminforms_setup>
                <setup>
                    <module>RonisBT_AdminForms</module>
                </setup>
            </adminforms_setup>
        </resources>
        <events>
            <cms_wysiwyg_config_prepare>
                <observers>
                    <adminforms_observer>
                        <class>adminforms/observer</class>
                        <method>prepareWysiwygPluginConfig</method>
                    </adminforms_observer>
                </observers>
            </cms_wysiwyg_config_prepare>
        </events>
    </global>
    <admin>
        <routers>
            <adminforms>
                <use>admin</use>
                <args>
                    <module>RonisBT_AdminForms</module>
                    <frontName>adminforms</frontName>
                </args>
            </adminforms>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <RonisBT_AdminForms>
                    <files>
                        <default>RonisBT_AdminForms.csv</default>
                    </files>
                </RonisBT_AdminForms>
            </modules>
        </translate>
    </adminhtml>
</config>
