ol.checkout-agreements {
    border: 3px solid #000;
    border-bottom: none;
    padding: 10px;
}

.onestepcheckout-extraproducts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.onestepcheckout-extraproducts span {
    font-weight: bold;
}

.onestepcheckout-extraproducts li {
    padding: 2px 0;
}

.onestepcheckout-summary-wrapper .loading-ajax{
    border: 3px solid #000;
    border-top: none; 
}

/* Button CSS */
.onestepcheckout-button, .onestepcheckout-button:visited {
    background: #333;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
    font: 600 14px 'Open Sans', Arial, sans-serif;
}
/*
    .onestepcheckout-button:hover                          { background-color: #111; color: #fff; }
    .onestepcheckout-button:active                         { top: 1px; }
    .small.onestepcheckout-button, .small.onestepcheckout-button:visited          { font-size: 11px; padding: ; }
    .onestepcheckout-button, .onestepcheckout-button:visited,
    .medium.onestepcheckout-button, .medium.onestepcheckout-button:visited        { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
    .large.onestepcheckout-button, .large.onestepcheckout-button:visited          { font-size: 16px; padding: 8px 30px 9px; }

    .green.onestepcheckout-button, .green.onestepcheckout-button:visited      { background-color: #91bd09; }
    .green.onestepcheckout-button:hover                        { background-color: #749a02; }
    .blue.onestepcheckout-button, .blue.onestepcheckout-button:visited        { background-color: #2daebf; }
    .blue.onestepcheckout-button:hover                         { background-color: #007d9a; }
    .red.onestepcheckout-button, .red.onestepcheckout-button:visited          { background-color: #e33100; }
    .red.onestepcheckout-button:hover                          { background-color: #872300; }
    .magenta.onestepcheckout-button, .magenta.onestepcheckout-button:visited      { background-color: #a9014b; }
    .magenta.onestepcheckout-button:hover                          { background-color: #630030; }
    .orange.onestepcheckout-button, .orange.onestepcheckout-button:visited        { background-color: #ff5c00; }
    .orange.onestepcheckout-button:hover                           { background-color: #d45500; }
    .yellow.onestepcheckout-button, .yellow.onestepcheckout-button:visited        { background-color: #ffb515; }
    .yellow.onestepcheckout-button:hover                           { background-color: #fc9200; }

    .grey.onestepcheckout-button, .grey.onestepcheckout-button:visited        { background-color: #cccccc; }
    .grey.onestepcheckout-button:hover                           { background-color: #cccccc; }*/



.onestepcheckout-place-order-loading {
    text-align: right;
    margin-top: 10px;
    font-style: italic;
}

select.address-select {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 95% !important;
}

.onestepcheckout-enterprise span.validation-error,.onestepcheckout-enterprise div.validation-error
    {
    padding-right: 0;
}

ul.onestepcheckout-custom-options {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    list-style-type: disc;
}

.onestepcheckout-coupons input#id_couponcode {
    margin-bottom: 5px;
    width: 200px;
}

.onestepcheckout-giftcards input#id_giftcardcode {
    margin-bottom: 5px;
    width: 200px;
}

#onestepcheckout-form label {
    font-weight: normal !important;
    color: #2a2c39 !important;
    text-transform: uppercase;
    line-height: 26px;
    font-family: Courier;
    font-size: 12px;
}

.onestepcheckout-summary,.onestepcheckout-totals {
    border-collapse: collapse;
}

.onestepcheckout-summary th,.onestepcheckout-summary,.onestepcheckout-summary td,.onestepcheckout-totals td
    {
    padding: 3px 0 0;
}

.onestepcheckout-summary thead tr{
    font: 600 12px 'Open Sans', Arial, sans-serif;
    color: #2a2c39;
    text-align: left;
    text-transform: uppercase;
}

.onestepcheckout-summary tbody{
    font: 12px Courier, Arial, Helvetica, sans-serif;
    color: #2a2c39;
}

.onestepcheckout-summary th {}

.onestepcheckout-numbers-5{
    margin: 0 0 31px;
}

.onestepcheckout-comments label{
    text-transform: none !important;
    margin: 0 0 9px;
}

h1.onestepcheckout-title {
    font: 700 48px 'Open Sans', Arial, sans-serif;
    color: #333;
    text-transform: capitalize;
    width: 1031px;
    margin: 0 auto;
    letter-spacing: 7px;
}

p.onestepcheckout-description {
    font-size: 18px;
}

#onestepcheckout-form .group-select {
    padding: 32px !important;
}

div.onestepcheckout-threecolumns {
    margin-top: 10px;
}

div.onestepcheckout-threecolumns h1 {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-left {
    width: 323px;
    float: left;
    margin-right: 28px;
    background: transparent url(images/line-gradient.gif) no-repeat scroll right top;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-middle {
    width: 323px;
    float: left;
    margin-right: 28px;
}

div.onestepcheckout-threecolumns div.onestepcheckout-column-right {
    width: 323px;
    float: left;
}

p.onestepcheckout-login-link {
    font: 12px Courier, Arial, Helvetica, sans-serif;
    color: #00051b;
    width: 992px;
    margin: 0 auto 11px;
    line-height: 32px;
}

p.onestepcheckout-login-link a:hover{
    text-decoration: none;
}

p.onestepcheckout-login-link a{
    color: #00051b;
    text-decoration: underline;
}

#onestepcheckout-email-error {
    width: 245px;
    clear: both;
    padding-top: 3px;
}

div.onestepcheckout-error {
    background-color: #FAEBE7;
    color: #DF280A;
    border: 1px solid #DF280A;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 25px;
    background-image: url(images/onestepcheckout-error.jpg);
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.onestepcheckout-column-left .onestepcheckout-error {
    width: 85% !important;
}

div.onestepcheckout-enable-newsletter {
    margin-bottom: 10px;
    /*text-align: right;*/
}

div.onestepcheckout-enable-newsletter-bottom {
    margin-top: 20px;
    text-align: right;
}

div.onestepcheckout-enable-terms { /*text-align: right;*/
    margin-top: 10px;
}

table.onestepcheckout-summary {
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
}

table.onestepcheckout-summary td {
    padding: 10px 0;
}

table.onestepcheckout-summary th.size,
table.onestepcheckout-summary th.qty,
table.onestepcheckout-summary td.size,
table.onestepcheckout-summary td.qty
    {
    text-align: center;
    vertical-align: top;
}
table.onestepcheckout-summary th.qty,
table.onestepcheckout-summary td.qty {
    padding-left: 15px;
    padding-right: 5px;
}
table.onestepcheckout-summary th.name,
table.onestepcheckout-summary td.name {
    width: 40%;
}
 
.onestepcheckout-totals td{
    padding: 3px 0 18px;
}

.onestepcheckout-summary th{
    padding: 3px 0 18px;
}

.onestepcheckout-totals tbody{
    text-transform: uppercase;
}

.onestepcheckout-totals .grand-total{
    text-transform: uppercase;
    font: 600 12px 'Open Sans', Arial, sans-serif;
    color: #2a2c39;
}

.onestepcheckout-totals tr:last-child{
    text-align: right;
    font-size: 10px;
    text-transform: uppercase;
}

table.onestepcheckout-summary td.total,table.onestepcheckout-summary th.total
    {
    text-align: right;
    vertical-align: top;
}

table.onestepcheckout-totals {
    width: 280px;
    margin: 20px auto 0;
}

table.onestepcheckout-totals tr.grand-total td {
    font-weight: bold;
    font-family: Courier, georgia, serif;
    font-size: 16px;
}

table.onestepcheckout-totals td.title {
    width: 65%;
    text-align: right;
}

table.onestepcheckout-totals td.value {
    width: 35%;
    text-align: right;
}

div.onestepcheckout-place-order-wrapper {
    text-align: center;
    padding: 5px 0;
    border: 3px solid #000;
    border-top: none; 
}

div.checkoutcontainer {
    min-height: 33em;
    width: 1025px;
    margin: 0 auto;
}

#shipping_address_list,
#billing_address_list{
    width: 279px;
    margin: 0 auto;
}

div.checkoutcontainer .checkout-error-message {
    font-size: 14px;
    margin-left: 10px;
    color: red;
}

.checkoutcontainer li.shipping-address-title{
    margin: 0 0 47px;
}

div.checkoutcontainer .payment-methods .form-list label {
    text-align: left !important;
}

div.checkoutcontainer div.input-error label {
    color: red !important;
}

div.checkoutcontainer div.input-error input,div.checkoutcontainer div.input-error select
    {
    border: 1px solid red !important;
}

div.checkoutcontainer div.input-different-shipping {
   width: 280px;
    margin: -3px auto 24px;
}

div.checkoutcontainer div.input-address-short,div.checkoutcontainer div.input-firstname,div.checkoutcontainer div.input-lastname,div.checkoutcontainer div.input-email,div.checkoutcontainer div.input-telephone,div.checkoutcontainer div.input-company,div.checkoutcontainer div.input-fax,div.checkoutcontainer div.input-password
    {
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
}

.onestepcheckout-column-left .custom-checkbox{
    width: 126px; 
    line-height: 17px !important;
}

#billing_address_list {
    margin: 0 auto 19px;
}

div.checkoutcontainer li.taxvat .input-text {
    width: 83% !important;
}

div.checkoutcontainer div.input-address-short .input-text,
div.checkoutcontainer div.input-firstname .input-text,div.checkoutcontainer
div.input-lastname .input-text,div.checkoutcontainer div.input-email .input-
text,div.checkoutcontainer div.input-telephone .input-
text,div.checkoutcontainer div.input-company .input-text,div.checkoutcontainer
div.input-fax .input-text,div.checkoutcontainer div.input-password .input-text
{ float: right; }

div.checkoutcontainer div.input-address,div.checkoutcontainer div.input-city,div.checkoutcontainer li.taxvat div.input-box
    {
    float: left;
    width: 100% !important;
    margin: 0 0 10px;
}

div.checkoutcontainer div.input-address .input-text,div.checkoutcontainer div.input-city .input-text
    {
}

div.checkoutcontainer div.input-postcode {
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
}

div.checkoutcontainer div.input-postcode .input-text {
}

div.checkoutcontainer div.input-region {
    width: 60%;
    float: left;
}

div.checkoutcontainer div.input-region .input-text {
    width: 77%;
}

div.checkoutcontainer div.input-country {
    width: 100%;
    float: left;
    margin: 0 0 10px;
}

div.checkoutcontainer div.input-address{
    margin: 0 !important;
}

div.checkoutcontainer div.input-country select {
    width: 85%;
}

div.checkoutcontainer div.input-region select {
    width: 77% !important;
}

fieldset.group-select {
    padding: 10px 10px;
}

.group-select li {
}

.shipment-methods dd {
    font-weight: bold;
    margin: 0 !important;
    margin-bottom: 3px;
    margin-top: 7px;
}

p.checkout-choose-payment-method,p.checkout-choose-shipping-method {
    margin-top: 1em;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

p.checkout-choose-payment-method {
    margin-top: 2em !important;
}

.payment-methods dd {
    padding: 0;
}

.payment-methods dd li {
    padding: 0;
}

div.onestepcheckout-shipping-method {
    margin-bottom: 12px;
    border: 3px solid #000;
}

div.loading-ajax, div.loading-ajax-login {
    height: 50px;
    text-align: center;
    background-image: url(images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

p.onestepcheckout-numbers,
.checkoutcontainer li.shipping-address-title{
    background-repeat: no-repeat;
    height: 33px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    background: #ccc;
    line-height: 33px;
    text-align: center;
}

/*p.onestepcheckout-numbers-1 {
    background-image: url(images/onestepcheckout-numbers-1.png);
}

p.onestepcheckout-numbers-2 {
    background-image: url(images/onestepcheckout-numbers-2.png);
}

p.onestepcheckout-numbers-3 {
    background-image: url(images/onestepcheckout-numbers-3.png);
}

p.onestepcheckout-numbers-4 {
    background-image: url(images/onestepcheckout-numbers-4.png);
}*/

div.onestepcheckout-skin-magento .onestepcheckout-numbers {
    padding-top: 0px !important;
    padding-left: 28px !important;
    height: 25px !important;
    text-transform: capitalize !important;
    color: #F18200 !important;
    font-size: 13px !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-1 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-1.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-2 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-2.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-3 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-3.png)
        !important;
}

div.onestepcheckout-skin-magento p.onestepcheckout-numbers-4 {
    background-image: url(images/skin-magento/onestepcheckout-numbers-4.png)
        !important;
}

/* Popup CSS */
#onestepcheckout_popup_overlay_iframe {
    z-index: 100000;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity =   80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
}

#onestepcheckout_popup_overlay {
    z-index: 1000000;
    background-color: black;
    opacity: 0.8;
    filter: alpha(opacity =   80);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    cursor: pointer;
}

#onestepcheckout-toc-popup {
    width: 482px;
    height: 530px;
    position: absolute;
    z-index: 1000001;
}

#onestepcheckout-toc-popup .onestepcheckout-popup-wrapper {
    height: 515px !important;
}

#onestepcheckout-toc-popup div.onestepcheckout-popup-contents {
    overflow: auto;
    height: 450px;
}

#onestepcheckout-toc-popup h1 {
    margin-left: 20px;
}

#onestepcheckout-toc-popup .onestepcheckout-toc-terms {
    margin: 20px;
    margin-top: 0 !important;
    height: 440px !important;
    overflow: auto;
    padding-right: 10px;
}

#onestepcheckout-login-popup,#onestepcheckout-toc-popup {
    text-align: left !important;
}

.onestepcheckout-popup-footer {
    background-image: url(images/onestepcheckout-popup-footer.png);
    background-repeat: no-repeat;
    height: 13px;
}

.onestepcheckout-popup-wrapper {
    background-image: url(images/onestepcheckout-popup-header.png);
    *background-image: url(images/onestepcheckout-popup-header.png)
        !important;
    background-repeat: no-repeat;
}

.onestepcheckout-popup-wrapper h1 {
    font-size: 18px !important;
    padding-bottom: 10px !important;
    padding-top: 15px !important;
}

.onestepcheckout-popup-contents {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.onestepcheckout-popup-wrapper label {
    font-weight: normal;
}

.onestepcheckout-popup-wrapper .input-text {
    width: 190px !important;
}

#onestepcheckout-forgot-table td {
    vertical-align: middle !important;
}

/* Popup CSS (login link) */
#onestepcheckout-login-popup {
    width: 482px;
    position: absolute;
    z-index: 1000001;
    /*position: fixed;*/
}

#onestepcheckout-login-popup table {
    width: 99%;
}

#onestepcheckout-login-popup table td {
    padding-top: 3px;
    padding-bottom: 3px;
}

#onestepcheckout-login-popup button {
    padding: 3px 10px;
}

#onestepcheckout-login-popup div.onestepcheckout-popup-contents {

}

#onestepcheckout-login-popup p.close,#onestepcheckout-toc-popup p.close
    {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: -5px;
}

#onestepcheckout-login-popup p.close a,#onestepcheckout-login-popup p.close a:link,#onestepcheckout-login-popup p.close a:visited,#onestepcheckout-toc-popup p.close a,#onestepcheckout-toc-popup p.close a:link,#onestepcheckout-toc-popup p.close a:visited
    {
    text-decoration: none;
    color: black;
}

#onestepcheckout-login-popup p.close a:hover,#onestepcheckout-toc-popup p.close a:hover
    {
    text-decoration: underline;
}

#onestepcheckout-login-error,#onestepcheckout-forgot-error {
    color: red;
    margin-bottom: 10px;
}

div.onestepcheckout-comments {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 274px;
    margin: 0 auto;
}

.onestepcheckout-summary-wrapper{
    border: none !important;
}

.onestepcheckout-summary-message-wrapper{
    padding: 20px 26px 25px;
    border: 3px solid #000;
    font: 12px Courier, Arial, Helvetica, sans-serif;
    line-height: 14px;
    color: #00051b;
}

.onestepcheckout-summary{
    padding-top: 0 !important;
}

.summary-tables{
    border: 3px solid #000;
    border-top: none;
    margin-bottom: 12px;
    padding: 37px 0 10px;
}

.onestepcheckout-numbers-4{
    border: 3px solid #000;
    border-bottom: none;
}

div.onestepcheckout-comments textarea {
    margin-top: 5px;
    width: 241px;
    resize:none;
    height: 105px;
    margin-bottom: 29px;
    border: 1px solid #ccc;
    font: 12px Courier, Arial, Helvetica, sans-serif;
    color: #000;
    padding: 0 5%;
}

/* onestepcheckout-twocolumns */
.onestepcheckout-two-columns .onestepcheckout-column-left {
    width: 47%;
    float: left;
    margin-right: 30px;
    background: transparent url(images/line-gradient.gif) no-repeat scroll
        right top;
}

.onestepcheckout-two-columns .onestepcheckout-column-right {
    width: 43%;
    float: left;
}

.onestepcheckout-two-columns p.onestepcheckout-numbers {
    margin-top: 20px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-terms {
    text-align: center !important;
}

.onestepcheckout-two-columns div.onestepcheckout-place-order-wrapper {
    text-align: center !important;
    margin-top: 10px !important;
}

.onestepcheckout-two-columns div.onestepcheckout-enable-newsletter {
    text-align: center !important;
}

.checkoutcontainer .payment-methods .input-box select.year,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration_yr,.checkoutcontainer .payment-methods .input-box select#protxDirect_start_yr
    {
    width: 75px !important;
}

.checkoutcontainer .payment-methods .input-box select.month,.checkoutcontainer .payment-methods .input-box select#protxDirect_start,.checkoutcontainer .payment-methods .input-box select#protxDirect_expiration
    {
    width: 140px !important;
}

.onestepcheckout-giftmessagecontainer .input-checkbox {
    /*text-align: right;*/

}

#onestepcheckout-giftmessages .onestepcheckout-giftmessages fieldset.group-select {
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box-last {
    margin-right: 0 !important;
}

.onestepcheckout-giftmessages .group-select li .input-box {
    width: 125px;
    margin-right: 20px;
}

.onestepcheckout-giftmessages .group-select li .input-box .input-text {
    width: 120px;
}

.onestepcheckout-giftmessages .group-select li textarea {
    width: 267px;
}

.onestepcheckout-address-line {
    margin-bottom: 10px;
}

.onestepcheckout-column-left .customer-dob .dob-month,.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-year
    {
    float: left;
}

.onestepcheckout-column-left .customer-dob input.input-text {
    display: block;
    width: 74px;
}

.onestepcheckout-column-left .customer-dob label {
    font-size: 10px;
    font-weight: normal;
    color: #888;
}

.onestepcheckout-column-left .customer-dob .dob-day,.onestepcheckout-column-left .customer-dob .dob-month
    {
    width: 60px;
}

.onestepcheckout-column-left .customer-dob .dob-day input.input-text,.onestepcheckout-column-left .customer-dob .dob-month input.input-text
    {
    width: 46px;
}

.onestepcheckout-column-left .customer-dob .dob-year {
    width: 110px;
}

.onestepcheckout-column-left .customer-dob .dob-year input.input-text {
    width: 115px;
}
.onestepcheckout-feedback, .onestepcheckout-feedback-freetext {
    padding-top: 10px;
}
.onestepcheckout-feedback select {
    width:95%;
}
.onestepcheckout-feedback-freetext textarea{
    width:95%;
}
.onestepcheckout-coupon-code-notice {
}
#control_overlay {
    background-color:#000;
}

.oscmodal {
    background-color:#fff;
    padding:10px;
    border:1px solid #333;
}
#addressreview {
    width: 750px;
    min-height: 430px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #E9EAEE;
    border: 2px solid white;
    padding: 15px 40px 20px 40px;
    margin: 0 auto;
    text-align: left;
    box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -moz-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    -webkit-box-shadow: 1px 2px 6px rgba(0,0,0, 0.5);
    position:relative;
}
#addressreview .leftcol{
    float: left;
    width: 200px;
}
#addressreview .rightcol{
    float: left;
    width: 540px;
}
#addressreview h4 {
    padding-top: 15px;
    padding-bottom: 3px;
    font-size: 16px;
}
#addressreview #buttons {
    position: absolute;
    right: 40px;
    bottom: 20px;
}
#addressreview #buttons div {
    float: left;
    zoom: 1;
    margin: 0px 10px 0px 10px;
}
#addressreview_summary div.data {
    height: 375px;
    overflow-y: auto;
    padding-right: 2px;
}
.checkout-agreements li {
    margin: 0;
}
.checkout-agreements .agree {
    margin: 0;
    padding: 0;
}
.agreement-content {
    overflow: auto;
    text-align:left;
}

/*=============== new onestepcheckout ==================================================*/

#billing_address,
#shipping_address{
    border: 3px solid #000;
}

#billing_address{
    margin: 0 0 14px 0;
}

#shipping_address{
    padding: 0 0 5px;
}

#shipping_address:after,
#billing_address_list .input-country:after{
    content: '';
    display: block;
    clear: both;
}

label,
#billing_address_list .input-box{
    float: left;
}

.inner-box:after,
.input-box:after,
.input-checkbox:after,
.paymentsage li:after,
.shipment-methods:after,
#billing_address ul:after,
.checkout-agreements:after,
.shipment-methods dt:after,
.onestepcheckout-coupons:after,
.onestepcheckout-giftmessages:after{
    content: '';
    display: block;
    clear: both;
}

.custom-select-wrapper{
    float: right;
    width: 170px;
    line-height: 24px;
}


.custom-select-wrapper .custom-select-btn:hover{
    text-decoration: none;
}


.custom-select-wrapper .custom-select-btn{
    display: block;
    padding: 0 0 0 10px;
    color: #999;
    font: 12px Courier, Arial, Helvetica, sans-serif;
    line-height: 24px;
}


.custom-select-wrapper .custom-select{
    border: 1px solid #ccc;
    background: url(../images/bg-custom-select.png) no-repeat 90% 50%;
}


.custom-select-wrapper .custom-select-drop{
    position: absolute;
    width: 168px;
    border: 1px solid #ccc;
    background: #fff;
    left: -1px;
    border-top: none;
    height: 139px;  
    overflow-y: scroll;
    z-index: 1;
}


.custom-select-wrapper .custom-select-drop li a:hover{
    text-decoration: none;
    background: #ccc;
}

.custom-select-wrapper .custom-select-drop li a{
    color: #999;
    font: 12px Courier, Arial, Helvetica, sans-serif;
    line-height: 24px;
    padding: 0 0 0 10px;
    display: block;   
}

.custom-select.active{
    border-bottom: none;
    position: relative;
}

#billing_adress_list .input-box{
    float: left;
}

#billing_address .custom-checkbox{
    margin: 0 0 0 83px;
}

.no-display,
#id_create_account{
    display: none;
}

#onestepcheckout-form .custom-checkbox{
    background: url(images/checkbox.gif) no-repeat 0 5px;
    color: #00060f !important;
    text-transform: none;
    padding: 0 0 3px 33px;
}

#onestepcheckout-form .custom-checkbox.checked{
    background: url(images/checkbox-checked.gif) no-repeat 0 5px;
}

#shipping_address_list .input-box input{ 
    float: right;
}

#shipping_address_list .input-box input,
#billing_address_list .input-box input{
    float: right;
    width: 148px;
    border: 1px solid #ccc;
    padding: 0 10px;
    color: #999;
    font: 12px/24px Courier, Arial, Helvetica, sans-serif;
    height: 24px;
}

#shippng_address_list .custom-select-wrapper select,
#billing_address_list .custom-select-wrapper select{
    display: none;
}

.validate-one-required-by-name,
.custom-select-wrapper select{
    display: none;
}

.onestepcheckout-shipping-method-block{
    width: 90%;
    margin: 0 auto;
}

.onestepcheckout-payment-method{
    border: 3px solid #000;
    padding: 0 0 33px;
}

.onestepcheckout-payment-method select{
    display: none;
}

.custom-payment-types{
    margin: 0 auto;
}

.custom-payment-types li{
    display: inline-block;
    width: 19%;
    padding-top: 24px !important;
    background: url(images/payment_methods.png) no-repeat 0 0;
}

.MC{background-position: -55px 0 !important;}
.DELTA{background-position: -112 0 !important;}
.SOLO{background-position: -169px 0 !important;}
.SWITCH{background-position: 0 -51px !important;}
.UKE{background-position: -56px -51px !important;}

.checkoutcontainer .payment-methods .input-box input{
    float: right;
    width: 168px;
    line-height: 24px;
    border: 1px solid #ccc;
    height: 24px;
}

.checkoutcontainer .payment-methods label{
    float: left;
}

.paymentsage li:first-child label{
    float: none;
}

.paymentsage li:first-child .input-box{
    float: none;
    border: none;
    width: auto;
}

.paymentsage li{
    margin:  0 0 10px;
}

.paymentsage .custom-select-wrapper{
    margin: 0 0 10px;
}

#sagepaydirectpro_cc_type_exp_div{
    margin: 0;
}

#sagepaydirectpro_cc_type_exp_div .input-box{
    border: none;
}

.paymentsage{
    width: 91%;
    margin: 0 auto;
}

#allow_gift_messages,
.checkout-agreements .checkbox{
    display: none;
}

.onestepcheckout-coupons .input-text{
    float: left;
    width: 168px !important;
    border: 1px solid #ccc;
    line-height: 26px;
    height: 26px;
}

.onestepcheckout-coupons label{
    float: none !important;
    display: block;
}


#onestepcheckout-coupon-add{
    float: right;
    background: #333;
    border: none;
    color: #fff;
    font: 600 14px 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    line-height: 26px;
    width: 92px;
}

#onestepcheckout-giftmessages,
.onestepcheckout-summary-wrapper,
.onestepcheckout-comments-wrapper{
    border: 3px solid #000;
    margin-bottom: 12px;
}

.onestepcheckout-numbers-2{
    margin: 0 0 39px;
}

.onestepcheckout-numbers-3{
    margin: 0 0 32px;
}

.shipment-methods{
    margin: 0 0 31px;
}

.shipment-methods .custom-checkbox{
    width: 100%;
}

.shipment-methods dd{
    font: 11px Courier, Arial, Helvetica, sans-serif;
    color: #2a2c39;
    font-weight: bold;
    text-transform: uppercase;
}

.onestepcheckout-summary{
    width: 100%;
}

.onestepcheckout-place-order-wrapper button{
    width: 172px;
    height: 40px;
    font-size: 18px;
    margin: 0 0 15px;
}

.onestepcheckout-place-order-wrapper button:hover{
    background: #ccc;
}

.onestepcheckout-giftmessages{
    padding: 10px;
    width: 250px;
    margin: 0 auto;
}

.custom-checkbox a{
    color: #333;
}

.onestepcheckout-giftmessagecontainer{
    padding: 0 0 8px;
}

.onestepcheckout-numbers-7{
    margin: 0 0 17px;
}

.asteriks{
    font: 12px Courier, Arial, Helvetica, sans-serif;
    color: #2a2c39;
    padding: 30px 21px 41px 21px;
    letter-spacing: 0.18px;
}

.onestepcheckout-coupons{
    width: 91%;
    margin: 0 auto;
}

.input-company{
    margin: 0 0 27px 0 !important;
}

#shipping_address_list .validation-advice,
#billing_address_list .validation-advice{
    position: static;
    float: right;
}

.input-address .validation-advice{
    float: right;
    margin: 0 0 0 40px;
}

.onestepcheckout-payment-method .validation-advice{
    position: static;
    float: right;   
}

#advice-required-entry-sagepaydirectpro_cc_type{
    float: none !important;
}

.custom-payment-types input{
    width: 105% !important;
    float: none !important;
}

.agree .validation-advice,
.shipment-methods .validation-advice{
    position: static;
}

.custom-payment-types li{
    text-align: center;
    height: 20px;
}

#billing_address .custom-select-wrapper{
    float: right;
    width: 170px;
    margin: 0 0 0 15px;
}

#billing_address .custom-select-wrapper .custom-select-drop{
    width: 168px;
    overflow-y: scroll;
}

#billing_address .custom-select-wrapper .custom-select{
    background-position:  97% 9px;
}

#billing_address .custom-select-wrapper .custom-select-btn{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;   
    padding: 0 20px 0 10px;  
}

.checkout-onepage-success .col-main{
    width: 968px;
    margin: 20px auto 0;
    border: 3px solid #000;
    padding: 20px 20px;
    position: relative;
}

.checkout-onepage-success .col-main p,
.checkout-onepage-success .col-main h2{
    font: 12px Courier, georgia, serif;
    color: #333;
    margin: 0 0 10px;
}

.checkout-onepage-success .col-main h2{
    font: 700 14px 'Open Sans', Arial, sans-serif;
    color: #333;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.checkout-onepage-success .col-main .page-title{
    position: absolute;
    font: 700 28px 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
    top: -40px;
    left: 0;
}

.checkout-onepage-success .col-main .buttons-set{
    position: absolute;
    right: 20px;
    bottom: -50px;
}

.checkout-onepage-success .col-main .buttons-set button{
    background: #333;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font: 700 14px 'Open Sans', Arial, sans-serif;
    border: none;
    width: 192px;
    height: 39px;
    cursor: pointer;
}

.checkout-onepage-success .col-main .buttons-set button:hover{
    background: #ccc;
}

#checkout-payment-method-load{
    padding:  0 10px;
}

#checkout-payment-method-load dt.no-display1:after{
    content: '';
    display: block;
    clear: both;    
}

.onestepcheckout-place-order-loading img{
    display: none;
}

.onestepcheckout-place-order-loading{
    width: 190px;
    height: 16px;
    display: block;
    margin: 0 auto;
    background: url(../images/opc-ajax-loader.gif) no-repeat 0 0;
}

.migs-hosted-placement{
    width: 1000px;
    margin: 0 auto;
}