<?xml version="1.0"?>
<config>
    <modules>
        <DataCash_Dpg>
            <version>1.2.1</version>
        </DataCash_Dpg>
    </modules>
    <global>
        <payment>
            <cc>
                <types>
                    <DIN>
                        <code>DIN</code>
                        <name>Diners Club</name>
                        <order>55</order>
                    </DIN>
                </types>
            </cc>
        </payment>    
        <events>
            <datacash_dpg_t3m_callback>
                <observers>
                    <Datacash_dpg_model_api_observer>
                        <type>singleton</type>
                        <class>DataCash_Dpg_Model_Observer</class>
                        <method>saveT3mRecommendationToOrder</method>
                    </Datacash_dpg_model_api_observer>
                </observers>
            </datacash_dpg_t3m_callback>
            <checkout_submit_all_after>
                <observers>
                    <Datacash_dpg_after_order_submit>
                        <type>singleton</type>
                        <class>DataCash_Dpg_Model_Observer</class>
                        <method>afterOrderSubmit</method>
                    </Datacash_dpg_after_order_submit>
                </observers>
            </checkout_submit_all_after>
        </events>
        <models>
            <dpg>
                <class>DataCash_Dpg_Model</class>
                <resourceModel>dpg_resource</resourceModel>
            </dpg>
            <dpg_resource>
                <class>DataCash_Dpg_Model_Resource</class>
                <entities>
                    <tokencard>
                        <table>dpg_tokencard</table>
                    </tokencard>
                </entities>
            </dpg_resource>
        </models>
        <blocks>
            <dpg>
                <class>DataCash_Dpg_Block</class>
            </dpg>
        </blocks>
        <helpers>
            <dpg>
                <class>DataCash_Dpg_Helper</class>
            </dpg>
        </helpers>
        <resources>
            <datacash_dpg_setup>
                <setup>
                    <module>DataCash_Dpg</module>
                </setup>
            </datacash_dpg_setup>
        </resources>
        <datacash>
            <transaction>
                <types>
                    <auth>
                        <code>authorize</code>
                        <name>Authorise</name>
                        <order>0</order>
                    </auth>
                    <pre>
                        <code>authorize_capture</code>
                        <name>Authorise and Capture</name>
                        <order>10</order>
                    </pre>
                </types>
            </transaction>
        </datacash>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                         <dpg before="Mage_Checkout">DataCash_Dpg</dpg>
                    </modules>
                </args>
            </checkout>
            <datacash>
                <use>standard</use>
                <args>
                    <module>DataCash_Dpg</module>
                    <frontName>datacash</frontName>
                </args>
            </datacash>
        </routers>
        <translate>
            <modules>
                <DataCash_Dpg>
                    <files>
                        <default>DataCash_Dpg.csv</default>
                    </files>
                </DataCash_Dpg>
            </modules>
        </translate>
        <layout>
            <updates>
                <dpg>
                    <file>datacash.xml</file>
                </dpg>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <dpg>
                        <type>model</type>
                        <class>dpg/observer</class>
                        <method>paymentInfoBlockPrepareSpecificInformation</method>
                    </dpg>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
    </adminhtml>
    <default>
        <payment>
            <datacash_hcc>
                <title>DataCash :: Hosted Card Capture</title>
                <testing_endpoint>https://testserver.datacash.com/Transaction</testing_endpoint>
                <live_endpoint>https://mars.transaction.datacash.com/Transaction</live_endpoint>
                <accreditation_endpoint>https://accreditation.datacash.com/Transaction/cnp_a</accreditation_endpoint>
                <active>0</active>
                <cctypes>AE,VI,MC,SM</cctypes>
                <order_status>pending</order_status>
                <payment_action>auth</payment_action>
                <model>dpg/method_hcc</model>
                <debug>0</debug>
                <sandbox>0</sandbox>
                <allow_fraud_screening>0</allow_fraud_screening>
                <rsg_service_mode>1</rsg_service_mode>
                <rsg_data_customer_first_name>1</rsg_data_customer_first_name>
                <rsg_data_customer_surname>1</rsg_data_customer_surname>
                <rsg_data_customer_ip_address>1</rsg_data_customer_ip_address>
                <rsg_data_customer_email_address>1</rsg_data_customer_email_address>
                <rsg_data_customer_user_id>1</rsg_data_customer_user_id>
                <rsg_data_customer_telephone>1</rsg_data_customer_telephone>
                <rsg_data_customer_address_line1>1</rsg_data_customer_address_line1>
                <rsg_data_customer_address_line2>1</rsg_data_customer_address_line2>
                <rsg_data_customer_city>1</rsg_data_customer_city>
                <rsg_data_customer_state_province>1</rsg_data_customer_state_province>
                <rsg_data_customer_country>1</rsg_data_customer_country>
                <rsg_data_customer_zip_code>1</rsg_data_customer_zip_code>
                <rsg_data_shipping_first_name>1</rsg_data_shipping_first_name>
                <rsg_data_shipping_surname>1</rsg_data_shipping_surname>
                <rsg_data_shipping_address_line1>1</rsg_data_shipping_address_line1>
                <rsg_data_shipping_address_line2>1</rsg_data_shipping_address_line2>
                <rsg_data_shipping_city>1</rsg_data_shipping_city>
                <rsg_data_shipping_state_province>1</rsg_data_shipping_state_province>
                <rsg_data_shipping_country>1</rsg_data_shipping_country>
                <rsg_data_shipping_zip_code>1</rsg_data_shipping_zip_code>
                <rsg_data_shipping_delivery_method>1</rsg_data_shipping_delivery_method>
                <rsg_data_order_time_zone>1</rsg_data_order_time_zone>
                <rsg_data_order_discount_value>1</rsg_data_order_discount_value>
                <rsg_data_item_product_code>1</rsg_data_item_product_code>
                <rsg_data_item_product_description>1</rsg_data_item_product_description>
                <rsg_data_item_product_category>1</rsg_data_item_product_category>
                <rsg_data_item_order_quantity>1</rsg_data_item_order_quantity>
                <rsg_data_item_unit_price>1</rsg_data_item_unit_price>
                <rsg_data_billing_heading>1</rsg_data_billing_heading>
                <rsg_data_billing_name>1</rsg_data_billing_name>
                <rsg_data_billing_address_line1>1</rsg_data_billing_address_line1>
                <rsg_data_billing_address_line2>1</rsg_data_billing_address_line2>
                <rsg_data_billing_city>1</rsg_data_billing_city>
                <rsg_data_billing_state_province>1</rsg_data_billing_state_province>
                <rsg_data_billing_country>1</rsg_data_billing_country>
                <rsg_data_billing_zip_code>1</rsg_data_billing_zip_code>                
            </datacash_hcc>
            <datacash_api>
                <title>DataCash :: API</title>
                <testing_endpoint>https://testserver.datacash.com/Transaction</testing_endpoint>
                <live_endpoint>https://mars.transaction.datacash.com/Transaction</live_endpoint>
                <accreditation_endpoint>https://accreditation.datacash.com/Transaction/cnp_a</accreditation_endpoint>
                <active>0</active>
                <cctypes>AE,VI,MC,SM</cctypes>
                <order_status>pending</order_status>
                <payment_action>auth</payment_action>
                <model>dpg/method_api</model>
                <line_items_enabled>0</line_items_enabled>
                <debug>0</debug>
                <sandbox>0</sandbox>
                <allow_fraud_screening>0</allow_fraud_screening>
                <rsg_service_mode>1</rsg_service_mode>
                <rsg_data_customer_first_name>1</rsg_data_customer_first_name>
                <rsg_data_customer_surname>1</rsg_data_customer_surname>
                <rsg_data_customer_ip_address>1</rsg_data_customer_ip_address>
                <rsg_data_customer_email_address>1</rsg_data_customer_email_address>
                <rsg_data_customer_user_id>1</rsg_data_customer_user_id>
                <rsg_data_customer_telephone>1</rsg_data_customer_telephone>
                <rsg_data_customer_address_line1>1</rsg_data_customer_address_line1>
                <rsg_data_customer_address_line2>1</rsg_data_customer_address_line2>
                <rsg_data_customer_city>1</rsg_data_customer_city>
                <rsg_data_customer_state_province>1</rsg_data_customer_state_province>
                <rsg_data_customer_country>1</rsg_data_customer_country>
                <rsg_data_customer_zip_code>1</rsg_data_customer_zip_code>
                <rsg_data_shipping_first_name>1</rsg_data_shipping_first_name>
                <rsg_data_shipping_surname>1</rsg_data_shipping_surname>
                <rsg_data_shipping_address_line1>1</rsg_data_shipping_address_line1>
                <rsg_data_shipping_address_line2>1</rsg_data_shipping_address_line2>
                <rsg_data_shipping_city>1</rsg_data_shipping_city>
                <rsg_data_shipping_state_province>1</rsg_data_shipping_state_province>
                <rsg_data_shipping_country>1</rsg_data_shipping_country>
                <rsg_data_shipping_zip_code>1</rsg_data_shipping_zip_code>
                <rsg_data_shipping_delivery_method>1</rsg_data_shipping_delivery_method>
                <rsg_data_order_time_zone>1</rsg_data_order_time_zone>
                <rsg_data_order_discount_value>1</rsg_data_order_discount_value>
                <rsg_data_item_product_code>1</rsg_data_item_product_code>
                <rsg_data_item_product_description>1</rsg_data_item_product_description>
                <rsg_data_item_product_category>1</rsg_data_item_product_category>
                <rsg_data_item_order_quantity>1</rsg_data_item_order_quantity>
                <rsg_data_item_unit_price>1</rsg_data_item_unit_price>
                <rsg_data_billing_heading>1</rsg_data_billing_heading>
                <rsg_data_billing_name>1</rsg_data_billing_name>
                <rsg_data_billing_address_line1>1</rsg_data_billing_address_line1>
                <rsg_data_billing_address_line2>1</rsg_data_billing_address_line2>
                <rsg_data_billing_city>1</rsg_data_billing_city>
                <rsg_data_billing_state_province>1</rsg_data_billing_state_province>
                <rsg_data_billing_country>1</rsg_data_billing_country>
                <rsg_data_billing_zip_code>1</rsg_data_billing_zip_code>                
            </datacash_api>
        </payment>
    </default>
</config>
