<?xml version="1.0"?>
<config>
    <modules>
        <Evisu_HomePage>
            <version>0.3.4</version>
        </Evisu_HomePage>
    </modules>
    <global>
        <models>
            <evisu_homepage>
                <class>Evisu_HomePage_Model</class>
            </evisu_homepage>
        </models>
        <blocks>
            <evisu_homepage>
                <class>Evisu_HomePage_Block</class>
            </evisu_homepage>
        </blocks>
        <helpers>
            <evisu_homepage>
                <class>Evisu_HomePage_Helper</class>
            </evisu_homepage>
        </helpers>
        <resources>
            <evisu_homepage_setup>
                <setup>
                    <module>Evisu_HomePage</module>
                    <class>RonisBT_Cms_Model_Entity_Setup</class>
                </setup>
            </evisu_homepage_setup>
        </resources>
    </global>
    <cmsadvanced>
        <pagetypes>
            <home_page>
                <name>Home Page</name>
                <template>cmsadvanced/homepage/homepage.phtml</template>
                <block>evisu_homepage/homepage</block>
                <groups>
                    <main>
                        <label>Main</label>
                        <attributes>
                            <main_image>
                                <name>Main Image</name>
                                <required>1</required>
                                <template>image</template>
                            </main_image>
                            <main_text>
                                <name>Main Text</name>
                                <required>1</required>
                                <template>textarea</template>
                            </main_text>
                            <main_text_row2>
                                <name>Main Text</name>
                                <required>0</required>
                                <template>textarea</template>
                                <note>Displayed with delay</note>
                            </main_text_row2>
                            <hp_main_color_scheme>
                                <label>Color Scheme</label>
                                <type>varchar</type>>
                                <template>dropdown</template>
                                <source>evisu_homepage/config_source_bgcolor</source>
                                <required>1</required>
                            </hp_main_color_scheme>
                        </attributes>
                    </main>
                </groups>
            </home_page>
            <home_page_section>
                <name>Home Page Section</name>
                <template>cmsadvanced/homepage/blocks/section.phtml</template>
                <block>evisu_homepage/homepage</block>
                <groups>
                    <hp_section_animation>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Section Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Section Animation</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_section_animation>
                </groups>
            </home_page_section>

            <hp_text_block>
                <name>Home Page Text Block</name>
                <template>cmsadvanced/homepage/blocks/text_block.phtml</template>
                <groups>
                    <hp_data_text_block_tab>
                        <name>Data</name>
                        <attributes>
                            <hp_tb_header_row1>
                                <label>Header Row 1</label>
                                <template>text</template>
                                <required>1</required>
                            </hp_tb_header_row1>
                            <hp_tb_header_row2>
                                <label>Header Row 2</label>
                                <template>text</template>
                                <required>0</required>
                            </hp_tb_header_row2>
                            <hp_tb_text>
                                <label>Text</label>
                                <template>textarea</template>
                                <required>1</required>
                            </hp_tb_text>
                            <hp_tb_link_text>
                                <label>Link Text</label>
                                <template>text</template>
                                <required>1</required>
                            </hp_tb_link_text>
                            <hp_tb_target_url>
                                <label>Target Url</label>
                                <template>text</template>
                                <required>1</required>
                            </hp_tb_target_url>
                            <color_scheme>
                                <label>Color Scheme</label>
                                <type>varchar</type>>
                                <template>dropdown</template>
                                <source>evisu_homepage/config_source_bgcolor</source>
                                <required>1</required>
                            </color_scheme>
                        </attributes>
                    </hp_data_text_block_tab>
                    <hp_data_text_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Block Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_data_text_animation_tab>
                </groups>
            </hp_text_block>
            <hp_bottom_link>
                <name>Home Page Bottom Link</name>
                <template>cmsadvanced/homepage/blocks/bottom_link.phtml</template>
                <groups>
                    <hp_bt_data_tab>
                        <name>Data</name>
                        <attributes>
                            <link_text>
                                <label>Link Text</label>
                                <template>text</template>
                                <required>0</required>
                            </link_text>
                            <target_url>
                                <label>Target Url</label>
                                <template>text</template>
                                <required>0</required>
                            </target_url>
                            <onclick>
                                <label>onClick (js)</label>
                                <template>text</template>
                            </onclick>
                        </attributes>
                    </hp_bt_data_tab>
                    <hp_data_text_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Block Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_data_text_animation_tab>
                </groups>
            </hp_bottom_link>
            <hp_image_panel>
                <name>Home Page Image Panel</name>
                <template>cmsadvanced/homepage/blocks/image_panel.phtml</template>
                <groups>
                    <hp_image_panel_data_tab>
                        <name>Data</name>
                        <attributes>
                            <hp_ip_video>
                                <label>Video Code</label>
                                <template>text</template>
                            </hp_ip_video>
                            <hp_ip_image>
                                <label>Image</label>
                                <template>image</template>
                            </hp_ip_image>
                            <hp_ip_link_text>
                                <label>Link Text</label>
                                <template>text</template>
                            </hp_ip_link_text>
                            <hp_ip_target_url>
                                <label>Target Url</label>
                                <template>text</template>
                            </hp_ip_target_url>
                            <hp_ip_color_scheme>
                                <label>Color Scheme</label>
                                <type>varchar</type>>
                                <template>dropdown</template>
                                <source>evisu_homepage/config_source_bgcolor</source>
                                <required>1</required>
                            </hp_ip_color_scheme>
                        </attributes>
                    </hp_image_panel_data_tab>
                    <hp_image_panel_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <width>
                                <label>Image Width (px)</label>
                                <type>int</type>
                                <template>text</template>
                                <required>1</required>
                            </width>
                            <height>
                                <label>Image Height (px)</label>
                                <type>int</type>
                                <template>text</template>
                                <required>1</required>
                            </height>
                            <css>
                                <label>Image CSS</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_image_panel_animation_tab>
                </groups>
            </hp_image_panel>

<!--Section 3-->
            <home_page_section3_image_panel_left>
                <name>Home Page Image Panel Left</name>
                <template>cmsadvanced/homepage/blocks/image_panel_left.phtml</template>
                <groups>
                    <hps3_data_image_panel_left>
                        <name>Data</name>
                        <attributes>
                            <hps3_ipl_video>
                                <label>Video Code</label>
                                <template>text</template>
                        </hps3_ipl_video>
                            <hps3_ipl_image>
                                <label>Image</label>
                                <template>image</template>
                            </hps3_ipl_image>
                        <hps3_ipl_header>
                            <label>Header</label>
                            <template>text</template>
                            <required>1</required>
                        </hps3_ipl_header>
                            <hps3_ipl_title>
                                <label>Title</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_ipl_title>
                            <hps3_ipl_text>
                                <label>Text</label>
                                <template>textarea</template>
                                <required>1</required>
                            </hps3_ipl_text>
                            <hps3_ipl_link_text>
                                <label>Link Text</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_ipl_link_text>
                            <hps3_ipl_target_url>
                                <label>Target Url</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_ipl_target_url>
                        </attributes>
                    </hps3_data_image_panel_left>
                    <hp_ipl_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Block Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_ipl_animation_tab>
                </groups>
            </home_page_section3_image_panel_left>
            <home_page_section3_image_panel_right>
                <name>Home Page Image Panel Right</name>
                <template>cmsadvanced/homepage/blocks/image_panel_right.phtml</template>
                <groups>
                    <hps3_data_image_panel_right>
                        <name>Data</name>
                        <attributes>
                            <hps3_ipr_video>
                                <label>Video Code</label>
                                <template>text</template>
                            </hps3_ipr_video>
                            <hps3_ipr_image>
                                <label>Image</label>
                                <template>image</template>
                            </hps3_ipr_image>
                            <hps3_ipr_header>
                                <label>header</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_ipr_header>
                            <hps3_ipr_title>
                                <label>Title</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_ipr_title>
                            <hps3_ipr_text>
                                <label>Text</label>
                                <template>textarea</template>
                                <required>1</required>
                            </hps3_ipr_text>
                            <hps3_ipr_link_text>
                                <label>Link Text</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_ipr_link_text>
                            <hps3_ipr_target_url>
                                <label>Target Url</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_ipr_target_url>
                        </attributes>
                    </hps3_data_image_panel_right>
                    <hp_ipr_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Block Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_ipr_animation_tab>
                </groups>
            </home_page_section3_image_panel_right>
            <home_page_section3_press_panel>
                <name>Home Page Press Panel</name>
                <template>cmsadvanced/homepage/blocks/press_panel.phtml</template>
                <groups>
                    <hps3_data_press_panel>
                        <name>Data</name>
                        <attributes>
                            <hps3_pp_image>
                                <label>Image</label>
                                <template>image</template>
                                <required>1</required>
                            </hps3_pp_image>
                            <hps3_pp_header>
                                <label>Header</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_pp_header>
                            <hps3_pp_title>
                                <label>Title</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_pp_title>
                            <hps3_pp_text>
                                <label>Text</label>
                                <template>textarea</template>
                                <required>1</required>
                            </hps3_pp_text>
                            <hps3_pp_link_text>
                                <label>Link Text</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_pp_link_text>
                            <hps3_pp_target_url>
                                <label>Target Url</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_pp_target_url>
                        </attributes>
                    </hps3_data_press_panel>
                    <hp_pp_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Block Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_pp_animation_tab>
                </groups>
            </home_page_section3_press_panel>
            <home_page_section3_blog_panel>
                <name>Home Page Blog Panel</name>
                <template>cmsadvanced/homepage/blocks/blog_panel.phtml</template>
                <groups>
                    <hps3_data_blog_panel>
                        <name>Data</name>
                        <attributes>
                            <hps3_bp_image>
                                <label>Image</label>
                                <template>image</template>
                                <required>1</required>
                            </hps3_bp_image>
                            <hps3_bp_header>
                                <label>Header</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_bp_header>
                            <hps3_bp_title>
                                <label>Title</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_bp_title>
                            <hps3_bp_date>
                                <label>Date</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_bp_date>
                            <hps3_bp_category>
                                <label>Category</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_bp_category>
                            <hps3_bp_text>
                                <label>Text</label>
                                <template>textarea</template>
                                <required>1</required>
                            </hps3_bp_text>
                            <hps3_bp_link_text>
                                <label>Link Text</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_bp_link_text>
                            <hps3_bp_target_url>
                                <label>Target Url</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_bp_target_url>
                        </attributes>
                    </hps3_data_blog_panel>
                    <hp_bp_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Block Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_bp_animation_tab>
                </groups>
            </home_page_section3_blog_panel>
            <home_page_section3_text_block>
                <name>Home Page Text Box</name>
                <template>cmsadvanced/homepage/blocks/text_box_box.phtml</template>
                <groups>
                    <hps3_data_text_box>
                        <name>Data</name>
                        <attributes>
                            <hps3_tb_header>
                                <label>Header</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_tb_header>
                            <hps3_tb_title>
                                <label>Title</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_tb_title>
                            <hps3_tb_text>
                                <label>Text</label>
                                <template>textarea</template>
                                <required>1</required>
                            </hps3_tb_text>
                        </attributes>
                    </hps3_data_text_box>
                    <hp_tbox_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Block Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_tbox_animation_tab>
                </groups>
            </home_page_section3_text_block>
            <home_page_section3_small_box>
                <name>Home Page Small Box</name>
                <template>cmsadvanced/homepage/blocks/small_box.phtml</template>
                <groups>
                    <hps3_data_small_box>
                        <name>Data</name>
                        <attributes>
                            <hps3_sb_link_text>
                                <label>Link Text</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_sb_link_text>
                            <hps3_sb_target_url>
                                <label>Target Url</label>
                                <template>text</template>
                                <required>1</required>
                            </hps3_sb_target_url>
                            <hps3_sb_bg_color>
                                <label>Background Color</label>
                                <type>varchar</type>>
                                <template>dropdown</template>
                                <source>evisu_homepage/config_source_bgcolor</source>
                                <required>1</required>
                            </hps3_sb_bg_color>
                        </attributes>
                    </hps3_data_small_box>
                    <hp_sb_animation_tab>
                        <name>Animation Settings</name>
                        <attributes>
                            <css>
                                <label>Block Css</label>
                                <template>text</template>
                            </css>
                            <animation>
                                <label>Animation Rules</label>
                                <input>animation_gridfield</input>
                                <template>gridfield</template>
                                <type>text</type>
                            </animation>
                        </attributes>
                    </hp_sb_animation_tab>
                </groups>
            </home_page_section3_small_box>
        </pagetypes>
    </cmsadvanced>
</config>
