.homepage-holder .section-holder{
    position:relative;
}
.homepage-holder .main-section-holder{
    position:static;
    height:1243px;
}
.homepage-holder .main-section-holder .image-holder{
    width:50%;
    top:0;
    right:8%;
    position:absolute;
    left:auto;
}
.homepage-holder .main-section-holder .image-holder img{
    width:100%;
    height:auto;
}
.homepage-holder .main-section-holder p{
    font:700 72px/95px 'Open Sans', sans-serif;
    letter-spacing:10px;
    position:absolute;
    width:680px;
    left:13%;
    top:1%;
}
.quick-navigation span,
.quick-navigation a{
    position:fixed;
    left:0;
    bottom:20px;
    background:url(../images/bg-homepage-nav.png) no-repeat -9999px -9999px;
    overflow:hidden;
    white-space:nowrap;
    text-indent:100%;
    z-index:100;
    cursor: pointer;
}
.quick-navigation .explore-more-btn{
    background-position:-62px 0;
    width:91px;
    height:80px;
    left:206px;
    display:none;
}
.quick-navigation .back-btn{
    background-position:0 0;
    width: 69px;
	height: 58px;
	left: 8px;
    bottom:80px;
    display:none;
    background: url(../images/new-back-btn.png) no-repeat 0px 0px;
}
.quick-navigation .back-btn:hover{
	background: url(../images/new-back-btn.png) no-repeat 0px -67px !important;
}
.section-holder > *{
    position:absolute;
}
.section-holder .main-section{
    width:100%;
    height:100%;
}
.section-holder .section{
    /*height:2500px;*/
    height:inherit;
}

/* Section 1 */
.section-holder .section-1{
/*    top:-12.21%;*/
    width:93%;
    right:10px;
    left:auto;
}
.section-holder-1{
    height:2500px;
}
.section-holder-1 .sticky-wrapper{
    left:5%;
}
.section-holder .home_page_section1_text_block{
    position:absolute;
    left:5%;
    top:0;
    z-index:3;
}
.section-holder h2{
    font:700 72px/80px 'Open Sans', sans-serif;
    text-transform:uppercase;
    width:530px;
    position:static;
}
.section-holder h3{
    font:700 72px/80px 'Open Sans', sans-serif;
    text-transform:lowercase;
    width:530px;
}
.section-holder .section-description{
    font: 12px/14px Courier, Arial, Helvetica, sans-serif;
    color:#fff;
    background:#333;
    padding:35px 20px;
    width:364px;
    margin:4% 0;
}
.section-holder .section-main-link a{
    font:700 14px/26px 'Open Sans', sans-serif;
    color:#000;
    text-transform:uppercase;
    border-bottom:2px solid #000;
    z-index:2;
}
.section-holder .section-main-link a:hover{
    text-decoration:none;
    color:#ccc;
    border-color:#ccc;
}
.section-holder-1 img{
    width:100%;
    height:auto;
}
.section-holder-1 .image-holder + a{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:block;
    height:100%;
    width:100%;
}
.section-holder-1 .text-link-holder{
    position:absolute;
    left:50%;
    top:50%;
    width:128px;
    height:128px;
    margin:-64px 0 0 -64px;
    display:table;
    vertical-align:middle;
    background:#fff;
}
.section-holder-1 .text-link-wrapper{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding:15px;
    color:#333;
    font: 14px/18px Courier, sans-serif;
    text-transform:lowercase;
}
.section-holder .home_page_section1_image_panel1{
    z-index:1;
    width:12.5%;
    position:absolute;
    left:32.91%;
    /*top:14.67%;*/
    bottom:0;
}
.section-holder .home_page_section1_image_panel2{
    position:absolute;
    left:44.27%;
    /*top:8.45%;*/
    bottom:0;
    width:28%;
}
.section-holder .home_page_section1_image_panel3{
    position:absolute;
    right:0;
    bottom:0;
    z-index:1;
    width:30%;
}
.section-holder .home_page_section1_image_panel4{
    position:absolute;
    left:17.81%;
    /*top:36.19%;*/
    bottom:0;
    z-index:1;
    width:25.48%;
}
.section-holder .home_page_section1_image_panel4 .video-wrapper{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.section-holder .home_page_section1_image_panel4 iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.section-holder .home_page_section1_image_panel5{
    position:absolute;
    left:6.04%;
    /*top: -0.7%;*/
    bottom:0;
    width:37.08%;
}
.section-holder .home_page_section1_image_panel6{
    position:absolute;
    left:44.22%;
    /*top: 0.5%;*/
    bottom:0;
    width:28.33%;
}
.section-holder .home_page_section1_image_panel7{
    position:absolute;
    width:14.47%;
    left:74.68%;
    /*top: 0.58%;*/
    bottom:0;
}
.section-holder .home_page_section1_image_panel8{
    position:absolute;
    left:82.6%;
    width:14.63%;
    z-index:1;
    /*top: 20.65%;*/
    bottom:0;
}

/* Section 2 */
.section-holder-2 .add-text{
    text-align:center;
    color:#333;
    font:700 28px/34px 'Open Sans', sans-serif;
    width:65%;
    margin:0 auto;
    letter-spacing:5px;
}
.section-holder-2 .add-text p{
	z-index:10;
}
.section-holder-2{
    height:2290px;
}
.section-holder-2 .block-1{
    position:absolute;
    left:7.29%;
    top:6.3%;
    width:35.41%;
    z-index:2;
}
.section-holder-2 .block-2{
    position:absolute;
    right:7.29%;
    top:6.3%;
    width:35.41%;
    z-index:2;
}
.section-holder-2 .block-3{
    position:absolute;
    left:7.29%;
    top:32.2%;
    width:35.41%;
    z-index:1;
}
.section-holder-2 .block-4{
    position:absolute;
    right:6.09375%;
    top:32.2%;
    width:46.87%;
}
.section-holder-2 .block-5{
    position:absolute;
    left:7.29%;
    top:75%;
    width:35.41%;
}
.section-holder-2 .block-6{
    position:absolute;
    right:7.29%;
    top:72%;
    width:46.87%;
}
.section-holder-2 img{
    width:100%;
    height:auto;
}
.section-holder-2 .category-link{
    position:absolute;
    width:120px;
    height:120px;
    margin:-60px 0 0 -60px;
    color:#fff;
    font: 14px/18px Courier, sans-serif;
}
.categorylink1Block,
.categorylink2Block {
	position:absolute;
	top:50%;
	left:50%;
}
.section-holder-2 .block-3 .category-link,
.section-holder-2 .block-4 .category-link,
.section-holder-2 .block-5 .category-link,
.section-holder-2 .block-6 .category-link{
	display:none;
}
.section-holder-2 .category-link > span{
    display:table;
    vertical-align:middle;
    width:100%;
    height:100%;
}
.section-holder-2 .category-link > span span{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding:15px;
}
.section-holder-2 .category-link.light-grey{background:#ccc;}
.section-holder-2 .category-link.dark-grey{background:#333;}
.section-holder-2 .home_page_section2_product_promo_x2 .image-holder{
    float:left;
    width:50%;
}
.section-holder-2 .home_page_section2_product_promo_x4 .image-holder{
    display:inline-block;
    vertical-align:top;
    margin:0 -5px 0 0;
    width:50%;
}
.section-holder-2 .home_page_section2_product_promo_x2w .image-holder{
    float:left;
    width:50%;
}
.section-holder-2 .home_page_section2_product_promo_x2s .image-holder{
    float:left;
    width:33%;
}
.section-holder-2 .home_page_section2_product_promo_x2s .image-holder:first-child{
    float:right;
}
.section-holder-2 .home_page_section2_product_promo_x3 .image-holder{
    float:left;
    width:33%;
}

/* Section 3 */
.section-3{
    right:0;
}
.section-holder-3{
    height:1000px;
}
.section-holder-3 .block-3,
.section-holder-3 .block-4,
.section-holder-3 .block-5,
.section-holder-3 .block-6,
.section-holder-3 .block-7{
	bottom:0px;
}
.section-holder-3 img{
    width:100%;
    height:auto;
}
.section-holder-3 .home_page_section3_text_block{
    left:5%;
    position:absolute;
    top:0;
    z-index:3;
}
.section-holder-3 .section-description{
    width:264px;
}
.section-holder-3 .home_page_section3_small_box{
    position:absolute;
    left:2%;
}
.section-holder-3 .home_page_section3_small_box .news-block{
    display:block;
    width:100%;
    background:#ccc;
    color:#fff;
    font:700 36px/43px 'Open Sans', sans-serif;
    text-transform:lowercase;
    letter-spacing:5px;
    width:268px;
    height:238px;
    margin:0 0 42px;
}
.section-holder-3 .home_page_section3_small_box .news-block > span{
    display:table;
    vertical-align:middle;
    width:100%;
    height:100%;
}
.section-holder-3 .home_page_section3_small_box .news-block > span > span{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.section-holder-3 .home_page_section3_small_box .news-block > span > span span{
    padding:15px;
    display:block;
}
.section-holder-3 .home_page_section3_small_box .social-links-holder{
    background:#333;
    width:268px;
    height:238px;
    display:table;
    vertical-align:middle;
    font:bold 18px/20px Courier, sans-serif;
}
.section-holder-3 .home_page_section3_small_box .social-links-wrapper{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.section-holder-3 .home_page_section3_small_box .social-links{
    padding:10px 40px;
    color:#fff;
}
.section-holder-3 .home_page_section3_small_box .social-links .social-header{
    margin:0 0 30px;
}
.section-holder-3 .home_page_section3_small_box .social-links .social-links-block{
    margin:0 0 0 -35px;
    overflow:hidden;
}
.section-holder-3 .home_page_section3_small_box .social-links li{
    float:left;
    margin:0 0 25px 35px;
    width:39px;
}
.section-holder-3 .home_page_section3_small_box .social-links a{
    overflow:hidden;
    white-space:nowrap;
    text-indent:100%;
    background:url(../images/bg-social-media02.png) no-repeat -9999px -9999px;
    height:32px;
    display:block;
    margin:0 auto;
}
.section-holder-3 .home_page_section3_small_box .social-links .twitter{
    width:32px;
    background-position:0 0;
}
.section-holder-3 .home_page_section3_small_box .social-links .facebook{
    width:19px;
    background-position:-32px 0;
}
.section-holder-3 .home_page_section3_small_box .social-links .pinterest{
    width:27px;
    background-position:-51px 0;
}
.section-holder-3 .home_page_section3_small_box .social-links .instagram{
    width:30px;
    background-position:-78px 0;
}
.section-holder-3 .home_page_section3_small_box .social-links .vimeo{
    width:39px;
    background-position:-108px 0;
}
.section-holder-3 .home_page_section3_small_box .social-links .google-plus{
    width:34px;
    background-position:-147px 0;
}
.section-holder-3 .home_page_section3_image_panel_left{
    position:absolute;
    left:29.47%;
    width:28.58%;
    z-index:2;
}
.section-holder-3 .home_page_section3_image_panel_left h2{
    position:static;
    font-size:48px;
    line-height:48px;
    text-transform:uppercase;
    margin:0 0 0 19%;
    letter-spacing:5px;
}
.section-holder-3 .home_page_section3_image_panel_left h3{
    position:static;
    font-size:48px;
    line-height:48px;
    text-transform:lowercase;
    margin:0 0 3.94% 19%;
    letter-spacing:5px;
}
.section-holder-3 .home_page_section3_image_panel_left p{
    background: #333;
    padding: 35px 20px;
    color:#fff;
    font: 12px/14px Courier, sans-serif;
    width:264px;
    margin:0 0 6.76%;
}
.section-holder-3 .home_page_section3_image_panel_left a{
    font:700 14px/26px 'Open Sans', sans-serif;
    color:#000;
    text-transform:uppercase;
    border-bottom:2px solid #000;
    margin:0 0 0 20%;
}
.section-holder-3 .home_page_section3_image_panel_left a:hover{
    text-decoration:none;
    color:#ccc;
    border-color:#ccc;
}
.section-holder-3 .home_page_section3_image_panel_left .text-holder{
    position:absolute;
    left:83.24%;
    top:7.42%;
}
.section-holder-3 .home_page_section3_press_panel{
    position:absolute;
    left:78.75%;
    width:17.91%;
    z-index:2;
}
.section-holder-3 .home_page_section3_press_panel h2,
.section-holder-3 .home_page_section3_blog_panel h2{
    position:static;
    font-size:28px;
    line-height:36px;
    margin:9px 0 0 4.06%;
    letter-spacing:5px;
}
.section-holder-3 .home_page_section3_press_panel h3,
.section-holder-3 .home_page_section3_blog_panel h3{
    position:static;
    font-size:28px;
    line-height:30px;
    margin:0 4.06% 16px;
    letter-spacing:5px;
}
.section-holder-3 .home_page_section3_press_panel p,
.section-holder-3 .home_page_section3_blog_panel p{
    margin:0 4.06% 20px;
    font:12px/14px Courier, sans-serif;
}
.section-holder-3 .home_page_section3_blog_panel p{
    color:#ccc;
    font-weight:bold;
}
.section-holder-3 .home_page_section3_blog_panel .date{
    color:#000;
    display:inline-block;
    vertical-align:middle;
}
.section-holder-3 .home_page_section3_blog_panel .category{
    color:#000;
    display:inline-block;
    vertical-align:middle;
}
.section-holder-3 .home_page_section3_press_panel a,
.section-holder-3 .home_page_section3_blog_panel a{
    margin:0 4.06%;
    font:700 14px/26px 'Open Sans', sans-serif;
    color:#000;
    text-transform:uppercase;
    border-bottom:2px solid #000;
}
.section-holder-3 .home_page_section3_press_panel a:hover,
.section-holder-3 .home_page_section3_blog_panel a:hover{
    text-decoration:none;
    color:#ccc;
    border-color:#ccc;
}
.section-holder-3 .home_page_section3_blog_panel .separator{
    display:inline-block;
    vertical-align:middle;
    background:url(../images/bullet01.png) no-repeat;
    width:4px;
    height:4px;
}
.section-holder-3 .home_page_section3_blog_panel.block-5{
    position:absolute;
    left:24%;
    width:12.29%;
}
.section-holder-3 .home_page_section3_blog_panel.block-6{
    position:absolute;
    left:39%;
    width:12.29%;
}
.section-holder-3 .home_page_section3_image_panel_right{
    position:absolute;
    left:64.01%;
    width:34.89%;
}
.section-holder-3 .home_page_section3_image_panel_right h2{
    position:static;
    font-size:48px;
    line-height:48px;
    text-transform:uppercase;
    letter-spacing:5px;
    margin:0 0 5.95%;
}
.section-holder-3 .home_page_section3_image_panel_right h2 span{
    position:static;
    font-size:48px;
    line-height:48px;
    text-transform:lowercase;
}
.section-holder-3 .home_page_section3_image_panel_right p{
    width:264px;
    background: #333;
    padding: 35px 20px;
    color:#fff;
    font: 12px/14px Courier, sans-serif;
    margin:0 0 8.84%;
}
.section-holder-3 .home_page_section3_image_panel_right a{
    font:700 14px/26px 'Open Sans', sans-serif;
    color:#000;
    text-transform:uppercase;
    border-bottom:2px solid #000;
}
.section-holder-3 .home_page_section3_image_panel_right a:hover{
    text-decoration:none;
    color:#ccc;
    border-color:#ccc;
}
.section-holder-3 .home_page_section3_image_panel_right .text-holder{
    position:absolute;
    right:36%;
    top:28.51%;
}
.section-holder-3 .sticky-wrapper{
    left:5%;
}
.section-holder-3 .newsBlock{
    left:2%;
    bottom:0;
    z-index: 2;
}

/* Media Queries */
@media screen and (max-width:1590px){
	.section-holder-2{
		height:1800px;
	}
    .homepage-holder .main-section-holder p{
        font-size:48px;
        line-height:59px;
        width:480px;
    }
    .section-holder h2{
        font-size:48px;
        line-height:52px;
        width:320px;
    }
    .section-holder h3{
        font-size:48px;
        line-height:52px;
        width:320px;
    }
    .section-holder .text-holder h2{
        font-size:25px !important;
        line-height:30px !important;
    }
    .section-holder .text-holder h3{
        font-size:25px !important;
        line-height:30px !important;
    }
    .section-holder .text-holder h2 span{
        font-size:25px !important;
        line-height:30px !important;
    }
    .quick-navigation span,
    .quick-navigation a{background-image:url(../images/bg-homepage-nav02.png);}
    .quick-navigation .explore-more-btn{
        height:80px;
        width:93px;
        background-position:-61px 0;
        left: 210px;
    }
    .quick-navigation .back-btn:hover{background-position:0 -80px;}
    .section-holder-3 .home_page_section3_small_box .news-block{
        width:150px;
        height:134px;
        font-size:20px;
        line-height:26px;
        margin:0 4px 24px 0;
        float:left;
    }
    .section-holder-3 .home_page_section3_small_box .social-links-holder{
        width:150px;
        height:134px;
        font-size:12px;
        line-height:14px;
    }
    .section-holder-3 .home_page_section3_small_box .social-links .social-header{margin:0 0 15px;}
    .section-holder-3 .home_page_section3_small_box .social-links .social-links-block{margin:0 0 0 -10px;}
    .section-holder-3 .home_page_section3_small_box .social-links li{
        width:21px;
        margin:0 0 10px 10px;
    }
    .section-holder-3 .home_page_section3_small_box .social-links a{
        height:19px;
        background-image:url(../images/bg-social-media03.png);
    }
    .section-holder-3 .home_page_section3_small_box .social-links .twitter{width:17px;}
    .section-holder-3 .home_page_section3_small_box .social-links .facebook{
        background-position:-17px 0;
        width:11px;
    }
    .section-holder-3 .home_page_section3_small_box .social-links .pinterest{
        background-position:-28px 0;
        width:16px;
    }
    .section-holder-3 .home_page_section3_small_box .social-links .instagram{
        background-position:-44px 0;
        width:17px;
    }
    .section-holder-3 .home_page_section3_small_box .social-links .vimeo{
        background-position:-61px 0;
        width:21px;
    }
    .section-holder-3 .home_page_section3_small_box .social-links .google-plus{
        background-position:-82px 0;
        width:20px;
    }
    .section-holder-3 .home_page_section3_small_box .social-links{padding:10px 33px;}
    .section-holder-3 .home_page_section3_image_panel_left .text-holder{
        left:70%;
        top:7.42%;
    }
    .section-holder-3 .home_page_section3_image_panel_left a{margin:0 0 0 47%;}
    .section-holder-3 .home_page_section3_image_panel_left h2{margin:0 0 0 45%;}
    .section-holder-3 .home_page_section3_image_panel_left h3{margin:0 0 4% 45%;}
    .section-holder-3 .home_page_section3_press_panel{left:76.75%;}
    .section-holder-3 .home_page_section3_press_panel p{
        width:210px;
    }
    .section-holder-3 .home_page_section3_image_panel_right{}
    .section-holder-3 .home_page_section3_image_panel_right .text-holder{
        top:7.51%;
        right:61%;
    }
    .section-holder-3 .home_page_section3_text_block{left:5%;}
    .section-holder-3 .home_page_section3_image_panel_left{
        left:30%;
    }
    .section-holder-3 .home_page_section3_small_box{
        left:2%;
        margin-top: -98px;
        width: 150px;
    }
    .section-holder-3 .home_page_section3_blog_panel.block-5{
        left:21%;
    }
    .section-holder-3 .home_page_section3_blog_panel.block-6{
        left:39%;
    }
    .section-holder-3 .home_page_section3_blog_panel.block-5 img{
        width:75%;
    }
    .section-holder-3 .home_page_section3_blog_panel.block-6 img{
        width:75%;
    }
    .little{
        background: url(../images/little-more-btn-small.png) no-repeat 0px 0px !important;
        width: 51px !important;
        height: 45px !important;
        left: 8px !important;
        bottom: 30px !important;
    }
    .quick-navigation .back-btn{
        background: url(../images/new-back-btn-small.png) no-repeat 0px 0px;
        width: 51px;
        height: 45px;
        bottom: 79px;
        left: 8px;
    }
    .little:hover{
        background: url(../images/little-more-btn-small.png) no-repeat 0px -46px !important;
    }
    .quick-navigation .back-btn:hover{
    background: url(../images/new-back-btn-small.png) no-repeat 0px -50px !important;
    }
}

