body{
    height: auto !important;
}

.yoffset{
    position: fixed;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    background: #00ff00;
    top: 200px;
    text-align: center;
    z-index: 1000;
}
.page {padding: 0 0 230px;}
.main-section p{
    font: 700 48px 'Open Sans', arial, sans-serif;
    text-transform: uppercase;
    width: 728px;
    position: absolute;
    top: 345px;
    line-height: 50px;
    letter-spacing: 7.4px;
    left: 172px;
}
.section-holder-2 .block-holder-10 {
    position: absolute;
    bottom: 0;
}
.main-section{
    min-height: 1000px;
    height: 1214px;
    position: relative;
}
.main-section .image-holder{
    display: none;
}
.main-section .image-holder.skrollable{
    position: fixed;
    top: 125px;
}
.main-section img{
    max-width: 100%;
    height: auto;
}
.section-holder-1{
    height: 1000px;
}
.section-holder-1,
.section-holder-2{
    position: relative;
}
.block-holder-9{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10;
    top: -136px;
}
.block-holder-9 .image-holder{text-align: center;}
.image-holder{background: none;}
.section-holder-1 .video-overlay-holder {
    display: block;
    position: static;
    width: 100%;
    height: 100%;
    top: 0px;
    cursor: pointer;
    background: url(../images/play-btn.png) no-repeat 50% 50%;
    z-index: 11;
}
.hp_text_block{
    width: 100%;
    background: #fff;
    z-index: 20;
}
.hp_text_block .text-block-wrapper{
     width: 1440px;
     margin: 0 auto;
     padding: 59px 0 49px 0;
}
.hp_text_block .block-header{
    font: 700 48px 'Open Sans', arial, sans-serif;
    text-transform: uppercase;
    display: inline-block;
}
.hp_text_block .block-header span{
    display: block;
}
.hp_text_block .section-description{
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 124px;
}
.hp_text_block .section-description p{
    font: 14px courier, georgia, sans-serif;
    width: 655px;
    margin: 0px 0 22px 0;
}
.hp_text_block .section-main-link a{
    font: 700 14px 'Open Sans', arial, sans-serif;
    text-transform: uppercase;
    color: #333;
    border-bottom: 2px solid #333;
}
.hp_text_block .section-main-link a:hover{
    text-decoration: none;
    border: none;
}
.hp_image_panel img{
    max-width: 100%;
    height: auto;
}
.section-holder-1 .block-holder-2,
.section-holder-1 .block-holder-3,
.section-holder-1 .block-holder-4,
.section-holder-1 .block-holder-5,
.section-holder-1 .block-holder-6,
.section-holder-1 .block-holder-7,
.section-holder-1 .block-holder-8{
    display: inline-block;
    vertical-align: top;
}
.section-holder-1 .block-holder-2{    
    margin: 0 0 36px 6.25%;
    width: 56.041666667%;
}
.section-holder-1 .block-holder-3{    
    margin: 0 0 0 7.44%;
    width: 15.885416667%;
}
.section-holder-1 .block-holder-4{
    margin: 0 0 0 1.5%;
    width: 27.395833333%;
}
.video-panel{
    position: relative;
}
.video-panel .image-holder{
    position: relative;
}
.video-panel .video-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-panel .video-wrapper iframe{
    width: 100%;
    height: 100%;
}
.video-overlay-holder{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
.section-holder-1 .block-holder-5{
    margin: 96px 0 44px 0%;
    width: 37.5%;
}
.section-holder-1 .block-holder-6{
    width: 29.114583333%;
    margin: 0 0 0 1%;
}
.section-holder-1 .block-holder-7{
    margin: 0 0 0 3.59375%;
    width: 50.989583333%;  
}
.section-holder-1 .block-holder-8{
    width: 38.958333333%;
    margin: 0 0 0 3.385416667%;
}
.section-holder-1 .block-holder-10,
.section-holder-2 .block-holder-10{
    width: 100%;
}
.section-holder-2 .hp_text_block .block-header .row-2{
    text-transform: lowercase;
}
.bottom-link{
    text-align: center;
    margin: 116px 0 0px;
}
.bottom-link a{
    font: 700 28px 'Open Sans', arial, sans-serif;
    text-transform: uppercase;
    color: #333;
}
.social-links-wrapper{
    display: inline-block;
    width: 269px;
}
.social-links-wrapper .social-header{
    color: #333;
    font: 700 28px 'Open Sans', arial, sans-serif;
}
.social-links-wrapper .social-links-block{
    background: #333;
    text-align: center;
    padding: 30px 0 20px;
}
.social-links-wrapper .social-links-block li{
    display: inline-block;
    margin: 0 19px 22px 0;
}
.social-links-wrapper .social-links-block li a{
    display: block;
    width: 47px;
    height: 47px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -9999px;
    background: url(../images/bg-social-media07.png) no-repeat 0px 0px;
    cursor: pointer;
}

.social-links-wrapper .social-links-block li .facebook{background-position: -84px 0px;}
.social-links-wrapper .social-links-block li .pinterest{background-position: 0 -69px;}
.social-links-wrapper .social-links-block li .instagram{background-position: -164px -69px;}
.social-links-wrapper .social-links-block li .vimeo{background-position: -164px 0px;}
.social-links-wrapper .social-links-block li .google-plus{background-position: -83px -69px;}

.section-holder-2 .block-holder-2{
    margin: 0 0 0 6.25%;
}
.section-holder-2 .block-holder-2,
.section-holder-2 .block-holder-3,
.section-holder-2 .block-holder-4,
.section-holder-2 .block-holder-5,
.section-holder-2 .block-holder-6,
.section-holder-2 .block-holder-7{
    display: inline-block;
    vertical-align: top;
}
.section-holder-2 .block-holder-3{
    position: relative;
    width: 29.53125%;
    margin: 0 0 0 4.84375%;
}
.section-holder-2 .block-holder-3 .text-holder{
    width: 304px;
    position: absolute;
    top: 20%;
    right: -40%;
}
.section-holder-2 .block-holder-3 .text-holder h2{
    font: 700 28px 'Open Sans', arial, sans-serif; 
    text-transform: uppercase;
    padding: 0 0 0 30%;
}
.section-holder-2 .block-holder-3 .text-holder h3{
    font: 700 28px 'Open Sans', arial, sans-serif; 
    text-transform: lowercase;
    padding: 0 0 0 30%;
    margin: 0 0 10px;
}
.section-holder-2 .block-holder-3 .text-holder p{
    background: #333;
    color: #fff;
    padding: 30px;
    font: 14px courier, georgia, serif;
    margin: 0 0 25px;
}
.section-holder-2 .block-holder-3 .text-holder a{
    font: 700 14px 'Open Sans', arial, sans-serif; 
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    margin: 0 0 0 30%;
    color: #333;
}
.section-holder-2 .block-holder-3 .text-holder a:hover{
    text-decoration: none;
    border: none;
}
.section-holder-2 .block-holder-3 img,
.section-holder-2 .block-holder-4 img,
.section-holder-2 .block-holder-5 img,
.section-holder-2 .block-holder-6 img,
.section-holder-2 .block-holder-7 img{
    max-width: 100%;
    height: auto;
}
.section-holder-2 .block-holder-4{
    position: relative;
    margin: 0 0 0 21.5%;
    width: 17.916666667%;
}
.section-holder-2 .block-holder-4 h2,
.section-holder-2 .block-holder-5 h2,
.section-holder-2 .block-holder-6 h2{
    font: 700 28px 'Open Sans', arial, sans-serif; 
    text-transform: uppercase;
}
.section-holder-2 .block-holder-4 h3,
.section-holder-2 .block-holder-5 h3,
.section-holder-2 .block-holder-6 h3{
    font: 700 28px 'Open Sans', arial, sans-serif; 
    text-transform: lowercase;
    margin: 0 0 10px;
}
.section-holder-2 .block-holder-4 p,
.section-holder-2 .block-holder-5 p,
.section-holder-2 .block-holder-6 p{
    color: #333;
    font: 14px courier, georgia, serif;
    margin: 0 0 25px;
}
.section-holder-2 .block-holder-4 a,
.section-holder-2 .block-holder-5 a,
.section-holder-2 .block-holder-6 a{
    font: 700 14px 'Open Sans', arial, sans-serif; 
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    color: #333;
}
.section-holder-2 .block-holder-4 a:hover,
.section-holder-2 .block-holder-5 a:hover,
.section-holder-2 .block-holder-6 a:hover{
    text-decoration: none;
    border: none;
}
.section-holder-2 .block-holder-5,
.section-holder-2 .block-holder-6{
    width: 12.291666667%;
}
.section-holder-2 .block-holder-5{
    margin: 80px 0 0 12.5%;
}
.section-holder-2 .block-holder-6{
    margin: 80px 0 0 6.458333333%;
}
.section-holder-2 .block-holder-7{
    width: 34.84375%;
    margin: 93px 0 0 20.46875%;
}
.section-holder-2 .block-holder-7 .text-holder{
    width: 304px;
    position: absolute;
    top: 20%;
    left: -27%;
}
.section-holder-2 .block-holder-7 .text-holder h2{
    font: 700 28px 'Open Sans', arial, sans-serif; 
    text-transform: uppercase;
    padding: 0 0 0 5%;
}
.section-holder-2 .block-holder-7 .text-holder h3{
    font: 700 28px 'Open Sans', arial, sans-serif; 
    text-transform: lowercase;
    padding: 0 0 0 5%;
    margin: 0 0 10px;
}
.section-holder-2 .block-holder-7 .text-holder p{
    background: #333;
    color: #fff;
    padding: 30px;
    font: 14px courier, georgia, serif;
    margin: 0 0 25px;
}
.section-holder-2 .block-holder-7 .text-holder a{
    font: 700 14px 'Open Sans', arial, sans-serif; 
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    margin: 0 0 0 5%;
    color: #333;
}
.section-holder-2 .block-holder-7 .text-holder a:hover{
    text-decoration: none;
    border: none;
}
.section-holder-2 .block-holder-7{
    position: relative;
}
.section-holder-2 .block-holder-5 p .date,
.section-holder-2 .block-holder-6 p .date,
.section-holder-2 .block-holder-5 p .category,
.section-holder-2 .block-holder-6 p .category{
    color: #333;
}
.section-holder-2 .block-holder-5 p,
.section-holder-2 .block-holder-6 p{
    color: #ccc;
}
.section-holder-2 .bottom-link{
    margin: 116px 0 40px;
}
.section-holder-2 .bottom-link a{
    padding: 0 0 40px;
    background: url(../images/sun-bg.png) no-repeat 50% 49px;
}
.black{
    background: #333;
    color: #fff;
}
.black .section-main-link a {
    color: #fff;
    border-color: #fff;
}
/*.section-holder-2 .block-holder-8{ display: none;}*/

@media screen and (max-width: 1500px){
    .hp_text_block .text-block-wrapper{
        width: 900px;
    }
    .hp_text_block .section-description{
        margin: 0;
    }
    .hp_text_block .block-header {
        font: 700 35px 'Open Sans', arial, sans-serif;
        margin: 0 35px 0 0;
    }
}