html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{height:100%;}
body {
    font: 62.5%/1.5 Arial, Helvetica, sans-serif;
    color:#000;
    height:100%;
    min-width:1000px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input[type=text],
input[type=password],
input[type=email],
textarea{
    -webkit-appearance:none;
    border-radius:none;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus{outline:none;}
img{vertical-align:top;}
a{text-decoration:none; outline: none;}
a:hover{text-decoration:underline;}
/*img{opacity: 0;}*/
/* FONTS */
@font-face {
    font-family: 'Courier Bold';
    src: url('../fonts/Dark Courier Bold.eot');
    src: url('../fonts/Dark Courier Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Dark Courier Bold.woff') format('woff'), 
         url('../fonts/Dark Courier Bold.ttf') format('truetype'), 
         url('../fonts/Dark Courier Bold.svg') format('svg');
}

/* LAYOUT */
.wrapper{
    min-height:100%;
    width:100%;
    overflow:hidden;
}
.page{
    padding:0 0 330px;
}

/* Header */
.header-container{
    padding:15px 0 0;
    position:relative;
    z-index:1;
}
.header-container:after{
    content:'';
    display:block;
    clear:both;
}
.quick-access{
    float:right;
    width:100%;
    text-align:right;
    padding:0 20px;
    margin: -15px 0 0 0;
    background: #333;
    cursor: pointer;
}

.quick-access:hover{
    text-decoration: none;
}
.quick-access > *{
    display:inline-block;
    vertical-align:middle;
    font:400 11px/14px 'Open Sans', sans-serif;
    color:#fff;
    text-transform:uppercase;
    margin:0 0 0 33px;
    line-height: 24px;
}
.quick-access a{color:#fff;}
.quick-access .links{overflow:hidden;}
.quick-access .links li{
    float:left;
    margin:0 0 0 33px;
}
.quick-access .links li:first-child{margin-left:0;}
.quick-access select{display:none;}
.form-language{position:relative;}
.form-language label{visibility:hidden;}
.form-language .custom-select-btn{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    overflow:hidden;
    white-space:nowrap;
}
.form-language .custom-select-btn:before{
    content:'Currency';
}
.form-language .custom-select-drop{
    position:absolute;
    right:0;
    top:25px;
    text-align:center;
    background:#fff;
    border:2px solid #414141;
    z-index:1;
    display:none;
}
.form-language .custom-select-drop:before{
    content:'';
    width:0;
    height:0;
    border-bottom:6px solid #414141;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    position:absolute;
    left:50%;
    top:-8px;
    margin:0 0 0 -6px;
}
.form-language .custom-select-drop a{
    padding:3px 10px;
    display:block;
    font-size:14px;
    line-height:18px;
}
.form-language .custom-select-drop a:hover{
    background:#414141;
    color:#fff;
}
.branding{
    width:100%;
    padding:10px 0 0;
}
.branding:after{
    content:'';
    display:block;
    clear:both;
}
.logo{
    margin:0 0 0 15.6%;
    float:left;
}
.nav-container{
    padding:31px 0 0 68px;
    float:left;
}
.nav-container #nav{width:100%;}
.nav-container #nav:after{
    content:'';
    display:block;
    clear:both;
}
.nav-container #nav > li{
    float:left;
    margin:0 0 0 43px;
    padding:0 0 40px;
}
.nav-container #nav > li:first-child{margin-left:0;}
.nav-container #nav > li > a{
    font:600 16px/20px 'Open Sans', sans-serif;
    color:#333;
    text-transform:uppercase;
}
.nav-container #nav > li > ul{
    width:1600px;
    position:absolute;
    left:50%;
    top:122px;
    margin:0 0 0 -800px;
    background:#fff;
    border:3px solid #414141;
    display:none;
}
/* Footer */
.footer-container{
    width:980px;
    margin:-230px auto 0;
    height:200px;
    position:relative;
    padding:0 0 30px;
    z-index:1;
}
.footer-container .footer{overflow:hidden;}
.footer-container .footer > ul{
    float:left;
}
.footer-container .footer > ul > li{
    float:left;
    width:180px;
}
.footer-container .footer > ul > li span,
.footer-container .footer form label,
.footer-container .footer .social-header{
    text-transform:uppercase;
    color:#333;
    font-family:'Open Sans', sans-serif;
    font-weight:700;
    margin:0 0 27px;
    display:block;
    letter-spacing:1px;
}
.footer-container .footer > ul > li li{
    margin:0 0 17px;
}
.footer-container .footer > ul > li a{
    color:#ccc;
}
.footer-container .footer form{
    float:left;
    width:240px;
}
.footer-container .footer input[type=text]{
    padding:3px 12px 4px;
    background:none;
    border:1px solid #ccc;
    color:#ccc;
    width:164px;
    height:16px;
    margin:0 0 15px;
}
.footer-container .footer .button{
    font:700 14px/18px 'Open Sans', sans-serif;
    padding:10px 10px 11px;
    text-transform:uppercase;
    color:#fff;
    background:#333;
    border:none;
    cursor:pointer;
    width:120px;
    height:39px;
}
.footer-container .footer .social-links{
    float:left;
    width:195px;
}
.footer-container .footer .social-links-block{
    overflow:hidden;
}
.footer-container .footer .social-links-block li{
    float:left;
    margin:0 0 0 7px;
}
.footer-container .footer .social-links-block a{
    display:block;
    width:33px;
    height:32px;
    overflow:hidden;
    white-space:nowrap;
    text-indent:100%;
    background:url(../images/bg-social-media01.png) no-repeat -9999px -9999px;
    cursor:pointer;
}
.footer-container .footer .social-links-block a.twitter{background-position:0 0;}
.footer-container .footer .social-links-block a.facebook{background-position:-33px 0;}
.footer-container .footer .social-links-block a.weibo{background-position:-66px 0;}
.footer-container .footer .social-links-block a.pinterest{background-position:-99px 0;}
.footer-container .footer .social-links-block a.google-plus{background-position:-132px 0;}
.footer-container .footer .social-links-block li:first-child{margin-left:0;}
.footer-container .footer .copyright{
    text-align:right;
    color:#ccc;
    position:absolute;
    left:0;
    bottom:15px;
    right:0;
}
.footer-container .footer .copyright a{color:#999;}

/* Media Queries */
@media screen and (max-width:1500px){
    .logo{margin:0 0 0 55px;}
}

.section-holder-1 .block-5 .image-holder{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #000;
}

.section-holder-1 .block-5 .video-wrapper{
    
}

.section-holder-1 .block-5 .image-holder img{
    height: 100%;
    opacity: 0.7 !important;
}

.section-holder-1 .block-5 .video-overlay-holder{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    cursor: pointer;
    background: url(../images/play-btn.png) no-repeat 50% 50%;
    z-index: 11;
}

.section-holder-1 .block-1 h2{
    display: inline;
}

.section-holder-1 .block-1{
    width: 404px;
}

.little{
    background: url(../images/little-more-btn.png) no-repeat 0px 0px !important;
    width: 68px !important;
    height: 60px !important;
    left: 8px !important;
    bottom: 12px !important;
}

.little:hover{
    background: url(../images/little-more-btn.png) no-repeat 0px -62px !important;
}
/*============Product listing=========================================================================*/

.image-holder{background:#fff;}

.block-layered-nav .block-content{
    position: absolute;
    background: #fff;
    z-index: 10;
    top: -10px;
    width: 100%;
    height: auto;
    display: none;
}

.block-layered-nav #narrow-by-list dl:first-child{margin: 0 0 0 10%;}
.block-layered-nav #narrow-by-list dd ul li{line-height: 25px;}

.block-layered-nav #narrow-by-list{
    border: 3px solid #000;
    width: 97%;
    margin: 0 auto;
    background: #fff;
    padding: 40px 0 0 0;
    color: #999;
    font: 14px Courier, Arial, sans-serif;
    height: 255px;
}

.block-layered-nav #narrow-by-list dl{
    float: left;
    width: 16%;
}

.block-layered-nav #narrow-by-list dt{
    font: 600 16px/20px 'Open Sans', sans-serif;
    color: #333;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 0 0 25px;
}

.catalog-category-view .top-bar{position: relative;}

.top-bar .sort-by{
    width: 97%;
    margin: 0 auto;
    border: 3px solid #000;
    text-align: right;
    height: 85%;
    padding: 40px 0 0 0;
}

.top-bar .sort-by-holder{
    display: none;  
    position: absolute;
    z-index: 10;
    background: #fff;
    height: 300px;
    top: -10px;
    width: 100%;
}

.top-bar .sort-by li{
    margin: 0 175px 0 0;
    line-height: 18px;
}

li label{
    font: 14px Courier, Arial, sans-serif;
    color: #999;
}

.catalog-category-view .sort-by-title{
    background: url(../images/sort-filter-drop.png) no-repeat 90px -82px;
    padding: 0 25px 0 0;
}

.top-bar .block-subtitle{
    padding: 0 25px 0 0;
    background: url(../images/sort-filter-drop.png) no-repeat 100% -82px;
}

.catalog-category-view .sort-by-title,
.top-bar .block-subtitle{
    font:700 24px/24px 'Open Sans', sans-serif;
    color: #ccc;
    float: right;
    margin: 0 45px 0 0;
    cursor: pointer;
    position: relative;
    z-index: 12;
}

.catalog-category-view .block-subtitle.active{
    color: #333;
    background-position: 100% 8px;
}

.catalog-category-view .sort-by-title.active{
    color: #333;
    background-position: 100% 8px;
}

.catalog-category-view .category-title{
    color: #333;
    font:700 60px/72px 'Open Sans', sans-serif;
    margin: 0 0 15px 0;
}

.catalog-category-view .category-promo{
    font:700 28px 'Open Sans', sans-serif;
    color: #333;
    text-transform: lowercase;
    text-align: center;
    width: 84%;
}


.breadcrumbs{margin: 0 0 15px 0;}
.breadcrumbs ul li{float: left;}
.breadcrumbs ul li:last-child{font: 12px 'Courier Bold', arial, Helvetica, sans-serif;}
.breadcrumbs ul li a:hover{text-decoration: none;} 

.breadcrumbs ul li a{
    font: 12px 'Courier Bold', arial, Helvetica, sans-serif;
    color: #ccc;
    padding: 0 13px 0 0;
    background: url(../images/dot.png) no-repeat 100% 4px;
    margin: 0 8px 0 0;
}

.catalog-category-view .category-description{
    font: 12px 'Courier Bold', arial, Helvetica, sans-serif;
    width: 84%;
    color: #fff;
    background: #333;
    padding: 39px 7px 39px 22px;
    margin: 0 0 20px 0;
}

.catalog-category-view .list-view-mode label{
    font: 800 12px/14px 'Open Sans', sans-serif;
    text-transform: uppercase;
    float: left;
    border-bottom: 2px solid #000;
    padding: 0 0 6px 0;
    margin: 0 19px 0 0; 
}

.catalog-category-view .list-view-mode{
    float: right;
    margin: 0 30px 0 0;
    position: relative;
    z-index: 12; 
}

.catalog-category-view .list-view-mode .list:hover,
.catalog-category-view .list-view-mode .active.list{
    background: url(../images/grid-list.png) no-repeat -47px -48px;
}

.quick-navigation .back-btn{
    width: 68px;
    height: 58px;
    display: inline-block;
    background: url(../images/new-back-btn.png) no-repeat 0 0;
    text-indent: -9999px;
    cursor: pointer;
    position: fixed;
    display: none;
    left: 150px;
    bottom: 85px;
    z-index: 100;
}

.quick-navigation .explore-more-btn{
    background: url(../images/bg-homepage-nav02.png) no-repeat -62px 0;
    width: 91px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
    text-indent: -9999px;
    position: fixed;
    left: 200px;
    display: none;
    bottom: 65px;
    z-index: 100;
}

.quick-navigation .explore-more-btn:hover{
    background-position: -62px -80px;
}

.quick-navigation .back-btn:hover{
    background-position: 0px -67px;
}

.catalog-category-view .category-view .products-list li{
    display: inline-block;
    width: 60%;
    text-align: left;
    padding: 0 0 0 385px;
}

.catalog-category-view .category-view .products-list li:first-child{
    padding: 0 !important;
}

.catalog-category-view .category-view .products-list li .image-holder{
    max-width: 100%;
    display: inline-block;
}

.catalog-category-view .category-view .products-list li .image-holder img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.catalog-category-view .main{
    padding: 60px 0 0 0;
}

.catalog-category-view .breadcrumbs-container{
    float: left;
    padding: 60px 0 0 65px;
    width: 18%;
}

.products-list li .product-shop .product-name a{
    font: 600 30px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #333;
}

.products-list li .product-shop .product-sku{
    font: 600 30px 'Open Sans', arial, Helvetica, sans-serif;
    text-transform: lowercase;
}

.products-list li .product-shop .price-box .old-price{
    font: 14px Courier, arial, Helvetica, sans-serif;
    text-decoration: line-through;
}

.products-list li .product-shop{
    color: #333;
    float: right;
    width: 36%;
}

.products-list li .product-shop .price-box .regular-price,
.products-list li .product-shop .price-box .special-price{
    font: 600 30px 'Open Sans', sans-serif;
}

.products-list li .product-shop .btn-cart{
    font: 600 14px/38px 'Open Sans', sans-serif;
    background: #333;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 65px;
    float: left;
    margin: 0 10px 10px 0;
}

.products-list li .product-shop .btn-cart:hover,
.products-list li .product-shop .add-to-links .link-wishlist:hover{
    text-decoration: none;
}

.products-list li .product-shop .btn-cart:hover{
    color: #333;
    background: #ccc;
}

.products-list li .product-shop .add-to-links .link-wishlist:hover{
    color: #ccc;
    background: #333;
}

.products-list .item .product-image{
    display: block;
    width: 64%;
    text-align: center;
    float: left;
}

.products-list li .product-shop .add-to-links .link-wishlist{
    font: 600 14px/38px 'Open Sans', sans-serif;
    background: #ccc;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 41px;
    margin: 0 0 10px 0;
}

.products-list li .product-shop .add-to-links{
    display: inline-block;
    float: left;
}



.add-to-links li{
    width: 100% !important;
}

.products-list li .product-shop .product-description{
    font: 12px Courier, arial, sans-serif;
    display: inline-block;
    width: 100%;
}

.products-list li .product-shop .product-description ul{
    list-style-type: circle;
}

.products-list li .product-shop .product-description ul li{
    padding: 0 !important;
}

/*========================= Grid ==============================================*/

.catalog-category-view .list-view-mode .grid{
    background: url(../images/grid-list.png) no-repeat 0 0;
    text-indent: -99999px;
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    float: left;
    margin: 0 9px 0 0;
}


.catalog-category-view .list-view-mode .list{
    background: url(../images/grid-list.png) no-repeat -47px 0;
    text-indent: -99999px;
    display: inline-block;
    width: 23px;
    height: 22px;
    cursor: pointer;
    float: left;
}

.catalog-category-view .list-view-mode .grid:hover,
.catalog-category-view .list-view-mode .active.grid{
    background: url(../images/grid-list.png) no-repeat 0px -48px;
}

.catalog-category-view .category-view .products-grid li .image-holder{
    max-width: 100%;
    display: inline-block;
}

.catalog-category-view .category-view .products-grid li .image-holder img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    background: #fff;
}

.catalog-category-view .category-view .products-grid li{
    display: inline-block;
    width: 24%;
    vertical-align: top;
    position: relative;
    margin: 0 0 20px 0;
}

.products-grid li{
    text-align: center;
}

.products-grid .product-image{
    position: relative;
    display: block;
}

.products-grid .product-image .image-holder:first-child{
    position: absolute;
    z-index: 3;
}

.products-grid .product-image .image-holder:last-child{
    position: relative;
    opacity: 0;
    z-index: 2;
}

.products-grid li .hover-holder{
    position: absolute;
    top: 0px;
    z-index: 2;
    text-align: center;
    width: 100%;
    height: 100%;
}

.products-grid li .btn-cart{
    font: 600 14px/38px 'Open Sans', sans-serif;
    background: #333;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 65px;
    margin: 0 0 10px 0;
}

.products-grid li .btn-cart:hover,
.products-grid li .add-to-links .link-wishlist:hover{
    text-decoration: none;
}

.products-grid li .btn-cart:hover{
    color: #333;
    background: #ccc;
}

.products-grid li .add-to-links .link-wishlist:hover{
    color: #ccc;
    background: #333;
}

.products-grid li .add-to-links .link-wishlist{
    font: 600 14px/38px 'Open Sans', sans-serif;
    background: #ccc;
    color: #333;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 42px;
}

.products-grid li .hover-holder .product-short-description{
    font: 12px Courier, Arial, sans-serif;
    color: #000;
    text-align: left;
    width: 46%;
    margin: 0 auto;
}

.products-grid li .product-name{
    font: 600 18px/20px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.products-grid li .product-name a{
    color: #000;
}

.products-grid li .old-price{
    font: 14px Courier, arial, Helvetica, sans-serif;
    text-decoration: line-through;
}

.products-grid li .regular-price,
.products-grid li .special-price{
    font: 600 18px 'Open Sans', sans-serif;
}

.hover-wrapper{
    height: 100%;
    display: table;
    width: 100%;
}

.hover-container{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.images-holder{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.products-grid .second-promo .second-description,
.products-grid .first-promo .promo-description{
    color: #fff;
    background: #333;
    display: block;
    text-align: left;
    width: 90%;
    padding: 5%;
    font: 12px 'Courier Bold', arial, Helvetica, sans-serif;
    margin: 3% 0;
}

.products-grid .second-promo .second-title,
.products-grid .first-promo .promo-title{
    font: 600 30px/32px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.products-grid .second-promo,
.products-grid .first-promo{
    width: 48% !important;
}

.products-grid .second-promo .second-text-holder,
.products-grid .first-promo .promo-text-holder{
    width: 50%;
    float: left;
    text-align: left;
}

.products-grid .first-promo{float: right;}
.products-grid .second-promo{float: left;}

.products-grid .second-promo .second-text-holder a,
.products-grid .first-promo .promo-text-holder a{
    color: #000;
    text-decoration: underline;
    font: 600 14px 'Open Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.products-grid .first-promo .promo-text-holder a:hover,
.products-grid .second-promo .second-text-holder a:hover{text-decoration: none;}

.products-grid .second-promo .image-holder{
    float: left;
    width: 50%;
}

.products-grid .first-promo .image-holder{
    float: right;
    width: 50%;
}

.products-grid .second-promo .image-holder img,
.products-grid .first-promo .image-holder img{width: 67%;}

/*========================= product listing clears ====================================================*/


.btn-cart:after,
.breadcrumbs:after,
.add-to-links:after,
.catalog-category-view .top-bar:after{
    content: '';
    display: block;
    clear: both;
}
