<?xml version="1.0"?>
<config>
    <modules>
        <RonisBT_CatalogNavigation>
            <version>0.0.1</version>
        </RonisBT_CatalogNavigation>
    </modules>
    <global>
        <blocks>
            <catalognavigation><class>RonisBT_CatalogNavigation_Block</class></catalognavigation>
            <catalog>
                <rewrite>
                    <layer_view>RonisBT_CatalogNavigation_Block_Layer_View</layer_view>
                    <layer_filter_attribute>RonisBT_CatalogNavigation_Block_Layer_Filter_Attribute</layer_filter_attribute>
                    <!--<layer_filter_category>RonisBT_CatalogNavigation_Block_Layer_Filter_Category</layer_filter_category>-->
                    <layer_filter_decimal>RonisBT_CatalogNavigation_Block_Layer_Filter_Decimal</layer_filter_decimal>
                    <layer_filter_price>RonisBT_CatalogNavigation_Block_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
            <enterprise_search>
                <rewrite>
                    <catalog_layer_view>RonisBT_CatalogNavigation_Block_Layer_View</catalog_layer_view>
                    <catalogsearch_layer>RonisBT_CatalogNavigation_Block_Search_Layer</catalogsearch_layer>
                </rewrite>
            </enterprise_search>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>RonisBT_CatalogNavigation_Block_Search_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer>RonisBT_CatalogNavigation_Block_Search_Layer</layer>
                </rewrite>
            </catalogsearch>
        </blocks>
        <models>
            <catalognavigation><class>RonisBT_CatalogNavigation_Model</class></catalognavigation>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>RonisBT_CatalogNavigation_Model_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>RonisBT_CatalogNavigation_Model_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_item>RonisBT_CatalogNavigation_Model_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_price>RonisBT_CatalogNavigation_Model_Layer_Filter_Price</layer_filter_price>
                    <resource_eav_mysql4_layer_filter_attribute>RonisBT_CatalogNavigation_Model_Resource_Eav_Mysql4_Layer_Filter_Attribute</resource_eav_mysql4_layer_filter_attribute>
                    <resource_eav_mysql4_layer_filter_price>RonisBT_CatalogNavigation_Model_Resource_Eav_Mysql4_Layer_Filter_Price</resource_eav_mysql4_layer_filter_price>
                </rewrite>
            </catalog>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <layer_filter_attribute>RonisBT_CatalogNavigation_Model_Resource_Eav_Mysql4_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>RonisBT_CatalogNavigation_Model_Resource_Eav_Mysql4_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource_eav_mysql4>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>RonisBT_CatalogNavigation_Model_SearchLayer_Filter_Attribute</layer_filter_attribute>
                </rewrite>
            </catalogsearch>
        </models>
        <helpers>
            <catalognavigation><class>RonisBT_CatalogNavigation_Helper</class></catalognavigation>
        </helpers>
    </global>

    <frontend>
        <layout>
            <updates>
                <catalognavigation>
                    <file>catalognavigation.xml</file>
                </catalognavigation>
            </updates>
        </layout>
        <events>
            <catalog_controller_category_init_before>
                <observers>
                    <catalognavigation>
                        <type>singleton</type>
                        <class>catalognavigation/observer</class>
                        <method>checkAjax</method>
                    </catalognavigation>
                </observers>
            </catalog_controller_category_init_before>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <catalognavigation>
                        <type>singleton</type>
                        <class>catalognavigation/observer</class>
                        <method>checkAjax</method>
                    </catalognavigation>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <controller_front_send_response_before>
                <observers>
                    <catalognavigation>
                        <type>singleton</type>
                        <class>catalognavigation/observer</class>
                        <method>layerAjax</method>
                    </catalognavigation>
                </observers>
            </controller_front_send_response_before>
            <controller_front_send_response_before>
                <observers>
                    <catalognavigation>
                        <type>singleton</type>
                        <class>catalognavigation/observer</class>
                        <method>layerAjax</method>
                    </catalognavigation>
                </observers>
            </controller_front_send_response_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <catalognavigation>
                        <type>singleton</type>
                        <class>catalognavigation/observer</class>
                        <method>layerSave</method>
                    </catalognavigation>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>

    <default>
        <catalog>
            <catalog_navigation>
                <standard_layer_view>1</standard_layer_view>
                <exclusive_filters>0</exclusive_filters>
                <inverse_filters></inverse_filters>
                <max_price_filter_range>0</max_price_filter_range>
            </catalog_navigation>
        </catalog>
    </default>
</config>
