<?xml version="1.0"?>
<config>
    <modules>
        <RonisBT_Cms>
            <version>1.7.6.3</version>
        </RonisBT_Cms>
    </modules>
    <global>
        <models>
            <cmsadvanced>
                <class>RonisBT_Cms_Model</class>
                <resourceModel>cmsadvanced_resource_eav_mysql4</resourceModel>
            </cmsadvanced>
            <cmsadvanced_resource_eav_mysql4>
                <class>RonisBT_Cms_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <page>
                        <table>cms_page_entity</table>
                    </page>
                </entities>
            </cmsadvanced_resource_eav_mysql4>
        </models>
        <blocks>
            <cmsadvanced>
                <class>RonisBT_Cms_Block</class>
            </cmsadvanced>
        </blocks>
        <helpers>
            <cmsadvanced>
                <class>RonisBT_Cms_Helper</class>
            </cmsadvanced>
        </helpers>
        <resources>
            <cmsadvanced_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cmsadvanced_write>
            <cmsadvanced_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cmsadvanced_read>
            <cmsadvanced_setup>
                <setup>
                    <module>RonisBT_Cms</module>
                    <class>RonisBT_Cms_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cmsadvanced_setup>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <cmsadvanced>
                        <class>RonisBT_Cms_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </cmsadvanced>
                </observers>
            </controller_front_init_routers>
            <block_edit_prepare_form_additional_element_types>
                <observers>
                    <cmsadvanced>
                        <class>RonisBT_Cms_Model_Observer</class>
                        <method>prepareBlockAdditionalElementTypes</method>
                    </cmsadvanced>
                </observers>
            </block_edit_prepare_form_additional_element_types>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <cmsadvanced>
                    <file>cmsadvanced.xml</file>
                </cmsadvanced>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <cmsadvanced>
                <use>standard</use>
                <args>
                    <module>RonisBT_Cms</module>
                    <frontName>cmsadvanced</frontName>
                </args>
            </cmsadvanced>
        </routers>
        <layout>
            <updates>
                <cmsadvanced>
                    <file>cmsadvanced.xml</file>
                </cmsadvanced>
            </updates>
        </layout>
        <cache>
            <requests>
                <cmsadvanced>enterprise_pagecache/processor_default</cmsadvanced>
            </requests>
        </cache>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <RonisBT_Cms before="Mage_Adminhtml">RonisBT_Cms_Adminhtml</RonisBT_Cms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <cmsadvanced>
        <pagetypes>
            <default>
                <name>Default</name>
                <block>cmsadvanced/page</block>
                <template>cmsadvanced/default.phtml</template>
                <cached>1</cached>
                <groups>
                    <general>
                        <attributes>
                            <name>
                                <template>text</template>
                                <required>1</required>
                            </name>
                            <content_heading>
                                <template>text</template>
                            </content_heading>
                            <content>
                                <template>wtextarea</template>
                            </content>
                            <url_key>
                                <template>text</template>
                                <backend>cmsadvanced/entity_attribute_backend_urlkey</backend>
                            </url_key>
                            <is_active>
                                <template>yesno</template>
                            </is_active>
                            <include_in_menu>
                                <template>yesno</template>
                            </include_in_menu>
                            <no_route>
                                <template>yesno</template>
                            </no_route>
                        </attributes>
                    </general>
                    <meta>
                        <attributes>
                            <meta_title>
                                <label>Title</label>
                                <template>text</template>
                            </meta_title>
                            <meta_keywords>
                                <label>Keywords</label>
                                <template>textarea</template>
                            </meta_keywords>
                            <meta_description>
                                <label>Description</label>
                                <template>textarea</template>
                            </meta_description>
                        </attributes>
                    </meta>
                    <properties>
                        <attributes>
                            <page_type>
                                <type>varchar</type>
                                <template>dropdown</template>
                                <source>cmsadvanced/config_source_pagetype</source>
                            </page_type>
                        </attributes>
                    </properties>
                </groups>
            </default>
            <redirect>
                <name>Redirect Page</name>
                <groups>
                    <properties>
                        <attributes>
                            <redirect_page>
                                <type>int</type>
                                <template>dropdown</template>
                                <source>cmsadvanced/config_source_pages</source>
                            </redirect_page>
                            <redirect_url>
                                <template>text</template>
                            </redirect_url>
                            <redirect_type>
                                <type>varchar</type>>
                                <template>dropdown</template>
                                <source>cmsadvanced/config_source_redirecttype</source>
                                <required>1</required>
                            </redirect_type>
                        </attributes>
                    </properties>
                </groups>
            </redirect>
        </pagetypes>

        <!-- Custom Input Types
        Define:
            <elementtypes>
                <typename>
                    <class>MyNamespace_MyModule_Block_MyInputTypeClass</class>
                </typename>
            </elementtypes>

        Use:
            <myattribute>
                <input>typename</input>
            </myattribute>
        -->
        <elementtypes>
            <gridfield>
                <class>RonisBT_Cms_Block_Adminhtml_Helper_Form_Gridfield_Simple</class>
            </gridfield>
            <gridfield_sorted>
                <class>RonisBT_Cms_Block_Adminhtml_Helper_Form_Gridfield_Sorted</class>
            </gridfield_sorted>
        </elementtypes>
        
        <!-- Custom Setup Templates
        Define:
            <setuptemplates>
                <templatename>
                    <type>attribute_type</type>
                    <input>attribute_input</input>
                    <backend>attribute_backend</backend>
                    ... all other attribute params
                </templatename>
            </setuptemplates>

        Use:
            <myattribute>
                <template>templatename</template>
            </myattribute>
        -->
        <setuptemplates>
            <page_id>
                <type>int</type>
                <input>hidden</input>
            </page_id>
            <grid>
                <input>grid</input>
                <backend>cmsadvanced/entity_attribute_backend_grid</backend>
            </grid>
            <gridfield>
                <type>text</type>
                <input>gridfield</input>
                <backend>cmsadvanced/entity_attribute_backend_serialized_array</backend>
            </gridfield>
            <gridfield_sorted>
                <type>text</type>
                <input>gridfield_sorted</input>
                <backend>cmsadvanced/entity_attribute_backend_serialized_array_sorted</backend>
            </gridfield_sorted>
        </setuptemplates>
    </cmsadvanced>
</config>
