<?xml version="1.0"?>
<config>
    <sections>
        <catalog>
            <groups>
                <product_detail translate="label" module="evisu_catalog">
                    <label>Product Custom Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>102</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <qty translate="label">
                            <label>Product Max Select Quantity</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </qty>
                    </fields>
                </product_detail>
            </groups>
        </catalog>
    </sections>
</config>
