<?xml version="1.0"?>
<config>
    <modules>
        <Evisu_AlertOOS>
            <version>0.1.0</version>
        </Evisu_AlertOOS>
    </modules>
    <global>
        <models>
            <evisu_alertoos>
                <class>Evisu_AlertOOS_Model</class>
            </evisu_alertoos>
        </models>
        <blocks>
            <evisu_alertoos>
                <class>Evisu_AlertOOS_Block</class>
            </evisu_alertoos>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Evisu_AlertOOS_Block_Product_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <evisu_alertoos>
                <class>Evisu_AlertOOS_Helper</class>
            </evisu_alertoos>
        </helpers>
        <resources>
            <evisu_alertoos_setup>
                <setup>
                    <module>Evisu_AlertOOS</module>
                    <class>Evisu_AlertOOS_Model_Entity_Setup</class>
                </setup>
            </evisu_alertoos_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <evisu_alertoos>
                <use>standard</use>
                <args>
                    <module>Evisu_AlertOOS</module>
                    <frontName>alertoos</frontName>
                </args>
            </evisu_alertoos>
        </routers>
    </frontend>
</config>