<?xml version="1.0"?>
<config>
    <modules>
        <RonisBT_TopMenu>
            <version>0.7.1</version>
        </RonisBT_TopMenu>
    </modules>
    <global>
        <models>
            <topmenu>
                <class>RonisBT_TopMenu_Model</class>
                <!--resourceModel>topmenu_resource_eav_mysql4</resourceModel-->
            </topmenu>
        </models>
        <resources>
            <topmenu_setup>
                <setup>
                    <module>RonisBT_TopMenu</module>
                    <class>RonisBT_TopMenu_Model_Entity_Setup</class>
                </setup>
            </topmenu_setup>
        </resources>
        <helpers>
            <topmenu><class>RonisBT_TopMenu_Helper</class></topmenu>
        </helpers>
        <blocks>
            <topmenu><class>RonisBT_TopMenu_Block</class></topmenu>
            <catalog>
                <rewrite>
                    <navigation>RonisBT_TopMenu_Block_Navigation</navigation>
                </rewrite>
            </catalog>
            <!-- Magento 1.7 -->
            <page>
                <rewrite>
                    <html_topmenu>RonisBT_TopMenu_Block_Navigation</html_topmenu>
                </rewrite>
            </page>
        </blocks>

        <!--
            **
            ** NOTE: uncomment to set default topmenu options for all top-level categories.
            **       These default values can be overriden in the admin
            **
        -->
        <!--topmenu>
            <category>
                <default>
                    <type>block</type>
                    <block>dropdown</block>
                </default>
            </category>
        </topmenu-->
        <events>
            <!-- Magento 1.7 -->
            <catalog_category_flat_loadnodes_before>
                <observers>
                    <topmenu_observer>
                        <class>topmenu/observer</class>
                        <method>addUrlKeyToCategoryCollection</method>
                    </topmenu_observer>
                </observers>
            </catalog_category_flat_loadnodes_before>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <RonisBT_TopMenu>
                    <files>
                        <default>RonisBT_TopMenu.csv</default>
                    </files>
                </RonisBT_TopMenu>
            </modules>
        </translate>
        <layout>
            <updates>
                <topmenu>
                    <file>topmenu.xml</file>
                </topmenu>
            </updates>
        </layout>
        <category>
            <collection>
                <attributes>
                    <alias_url/>
                </attributes>
            </collection>
        </category>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <RonisBT_TopMenu>
                    <files>
                        <default>RonisBT_TopMenu.csv</default>
                    </files>
                </RonisBT_TopMenu>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <design>
            <topmenu>
                <javascript>onmouseover="toggleMenu(this,1)" onmouseout="toggleMenu(this,0)"</javascript>
                <advanced_cms_root_id>2</advanced_cms_root_id>
                <root_category_id>2</root_category_id>
                <item_template><![CDATA[<li class="level%s nav-%s%s"%s><a href="%s"><span>%s</span></a>%s</li>]]></item_template>
            </topmenu>
        </design>
    </default>
</config>
