<?xml version="1.0"?>
<config>
   <sections>
        <design>
            <groups>
                <topmenu translate="label" module="topmenu">
                    <label>Top Menu Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>600</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Top Menu Customisation</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <javascript translate="label">
                            <label>Menu hover javascript</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </javascript>
                        <advanced_cms_root_id translate="label">
                            <label>Advanced CMS ROOT Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </advanced_cms_root_id>
                        <root_category_id translate="label">
                            <label>Root Category Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </root_category_id>
                        <items translate="label comment">
                            <label>Menu Items</label>
                            <frontend_model>topmenu/adminhtml_system_config_form_field_array_items</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Main menu elements rendering options and positions.]]></comment>
                        </items>
                    </fields>
                </topmenu>
            </groups>
        </design>
        <catalog>
            <groups>
                <product_detail translate="label" module="topmenu">
                    <label>Custom Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>102</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <brand_parent_category_id translate="label">
                            <label>Brand Parent Category Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </brand_parent_category_id>
                        <product_parent_category_id translate="label">
                            <label>Product Parent Category Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </product_parent_category_id>
                    </fields>
                </product_detail>
            </groups>
        </catalog>
    </sections>
</config>
