html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
/*html{height:100%;}*/
body {
    font: 62.5%/1.5 Arial, Helvetica, sans-serif;
    color:#333;
/*    height:100%;*/
    min-width:1000px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after, body:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type=text],
input[type=password],
input[type=email],
textarea{
    -webkit-appearance:none;
    border-radius:0;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus{outline:none;}
img{vertical-align:top;}
a{text-decoration:none; outline: none;}
a:hover{text-decoration:underline;}

.fl-left{float: left !important;}
.no-display{display: none;}

.main{
    position: relative;
}

::-webkit-input-placeholder {color: #333;}
:-moz-placeholder { color: #333;}
::-moz-placeholder {color: #333;}
:-ms-input-placeholder {  color: #333;}

button:focus {
    outline: none;
}

/*==============================================================================*/
/* Homepage Mobile */

.wrapper{
    width: 640px;
    margin: 0 auto;
}

.homepage-holder .main-section-holder{position: relative;}

.homepage-holder .main-section-holder .image-holder{
    position: static !important;
    width: 100% !important;
}

.section-holder > *{
    position: static;
}

.homepage-holder .main-section p{display: none;}
.homepage-holder .main-section-holder {height: auto;}

.nav-container{
    padding: 34px 0 0 50px;
    cursor: pointer;
    margin: 0 0 0 42px;
    background: url(../../images/burger-button.png) no-repeat 0 0;
}

.nav-container.active{background: url(../../images/burger-button-hover.png) no-repeat 0 0;}
#nav{display: none;}

.quick-access{
    background: none;
    width: auto;
    margin: 0;
    padding: 0;
}

.quick-access .links,
.quick-access .switches{display: none;}

.quick-access #cartHeader{
    position: absolute;
    background: url(../../images/mobile-cart-icon.png) no-repeat 0 0;
    top: 32px;
    right: 115px;
    width: 62px;
    height: 45px;
    cursor: pointer;
}

.quick-access #cartHeader .link-title{
    display: none;
}
.quick-access #cartHeader .link-qty{
    padding: 26px;
    line-height: 58px;
}

.header-container {padding: 0 0 0;}

.logo{
    display: inline-block;
    float: right;
    margin: 0;
}

.branding {
    padding: 37px 0 0;
    width: 380px;
    display: inline-block;
    vertical-align: top;
}

.logo img{
    width: 122%;
    height: auto;
}

.header{height: 110px;}

.nav-container .search-btn{
    position: absolute;
    width: 40px;
    height: 39px;
    background: url(../../images/search-mobile.png) no-repeat 0 0;
    top: 36px;
    right: 42px;
}

/* Section 1 */

